{% block card -%}

    {# {% use "_cards/parts.headlines" with title_default   as card__title   %} #}
    {# {% use "_cards/parts.summaries" with summary_default as card__summary %} #}
    {# {% use "_cards/parts.actions"   with action_default  as card__action  %} #}


    {## Default Settings ##}
    {% set CARD_TEMPLATE  = _card_tmpl ?? _self %}
    {% set CARD_TAG       = card.settings.card__tag             ?? 'div' %}
    {% set CARD_CLASS     = card.settings.card__class           ?? 'relative flex w-full h-full @container' %}
    {% set HEADLINE_TAG   = card.settings.card__headline__tag   ?? 'h3' %}
    {% set HEADLINE_CLASS = card.settings.card__headline__class ?? null %}
    {% set IMAGE_FRAME    = card.settings.card__image__frame    ?? null %}


    {## Opening Tag i.e. <div class='relative' data-card='type'> ##}
    {% block card__open -%}
        <{{CARD_TAG}} {{ attr({
            class: CARD_CLASS,
            data : { card : CARD_TEMPLATE }
        })}}>
    {%- endblock %}


    {## Card Content ##}
    {%- block card__content -%}
        {%- block card__image -%}
            {% import "_core/images/assemble" as image %}
            {{ image.frame( IMAGE_FRAME, card.images, card.settings ) }}
        {%- endblock -%}

        {%- block card__summary -%}
            {%- block card__headline -%}
                {% if card.headline -%}
                    {{ tag( HEADLINE_TAG, {
                        class: HEADLINE_CLASS,
                        html : card.headline,
                    } )}}
                {%- endif %}
            {%- endblock -%}

            {%- block card__text -%}{%- endblock -%}

            {%- block card__action -%}{%- endblock -%}
        {%- endblock -%}
    {%- endblock -%}


    {## Closing Tag i.e. </div> ##}
    {% block card__close %}</{{CARD_TAG}}>{% endblock %}
{%- endblock %}