{% if pageInfo.totalPages > 1 %}
    <nav
        class="cPagination mt-10"
        role="navigation"
        aria-label="Pagination Navigation"
        >
        <ul class="m-0 p-0 list-none flex justify-center">
            {% if pageInfo.prevUrl %}
                <li class="prev"><a class="p-4" href="{{ pageInfo.prevUrl }}">&larr; {{"Previous"|t}}</a></li>
            {% endif %}
            <li class="pageCount" class="p-4">{{ pageInfo.currentPage }} {{"of"|t}} {{ pageInfo.totalPages }}</li>
            {% if pageInfo.nextUrl %}
                <li class="next"><a class="p-4" href="{{ pageInfo.nextUrl }}">{{"Next"|t}} &rarr;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}