{% set entry   = entry ??? product ??? event ??? null %}
{% set _layout = _layout is defined and _layout is iterable ? _layout : {} %}
{% set _settings = {
    entry    : entry ??? null,
    title    : entry.title ??? null,
    className: entry.section.handle ??? null,
}|merge(_layout) %}

{% extends "_layouts/base" %}

{## primary <body> content ##}
{% block bodyHtml %}

    {## perform entry eager loading ##}
    {% if entry and ( className(entry) ??? null ) %}
        {% do craft.app.elements.eagerLoadElements(
            className(entry),
            [entry],
            [''] | merge(eagerLoading.commonFields   ??? '')
                 | merge(eagerLoading.headerBuilder  ??? '')
                 | merge(eagerLoading.contentBuilder ??? '')
        ) %}
    {% endif %}

    {% block header %}
        {{ include( "_components/header/header", _settings, withContext = false ) }}
    {% endblock %}

    {% block belowHeader %}
        <div class="container @container">
            {{ include( "_components/breadcrumb/basic", _settings, withContext = true ) }}
        </div>
    {% endblock %}

    {% block main %}
        <main id="content">
            {% block beforeContent %}{% endblock %}

            {% block content %}
                {{ include( "_components/builders/builderContent", _settings, withContext = false ) }}
            {% endblock %}

            {% block afterContent %}{% endblock %}
        </main>
    {% endblock %}

    {% block aboveFooter %}
        {{ include( "_components/footer/above", _settings, withContext = false ) }}
    {% endblock %}

    {% block footer %}
        {{ include( "_components/footer/footer", _settings, withContext = false ) }}
    {% endblock %}
{% endblock bodyHtml %}

{## fixed position components ##}
{% block bodyComponents %}
    {% block alertbar %}
        {{ sprig( "_sprig/alertBar/basic", {} ) }}
    {% endblock %}
{% endblock %}