{% extends "_layouts/base" %}

{% set entry     = event ??? product ??? entry ??? null %}
{% set layout    = 'oneColumn' %}

{# -- primary <body> content -- #}
{% block bodyHtml %}

    {% set tmplPath  = _self ??? null %}
    {% set section   = entry.section.handle ??? null %}
    {% set entryUri  = ( entry.uri ??? 'home' ) | replace({'/':'--'}) %}
    {% set bodyClass = "#{layout} #{section} #{entryUri}" %}

    {# -- perform entry eager loading -- #}
    {% if entry and ( className(entry) ??? null ) %}
        {% do craft.app.elements.eagerLoadElements(
            className(entry),
            [entry],
            [''] | merge(eagerLoading.commonFields   ??? '')
                 | merge(eagerLoading.headerBuilder  ??? '')
                 | merge(eagerLoading.contentBuilder ??? '')
        ) %}
    {% endif %}

    {% block header %}
        {{ include( "_components/header/header", {
            entry : entry,
            layout: layout
        }, withContext = false ) }}
    {% endblock %}

    {% block belowHeader %}
        {{ include( "_components/breadcrumb/breadcrumb", {}, withContext = true ) }}
    {% endblock %}

    {% block main %}
        <main id="content" class="min-h-[50vh]">
            {% block beforeContent %}{% endblock %}

            {% block content %}
                {{ include( "_components/builders/builderContent", {
                    entry : entry,
                    layout: layout
                }, withContext = false ) }}
            {% endblock %}

            {% block afterContent %}{% endblock %}
        </main>
    {% endblock %}

    {% block aboveFooter %}
        {{ include( "_components/footer/above", {
            entry : entry,
            layout: layout
        }, withContext = false ) }}
    {% endblock %}

    {% block footer %}
        {{ include( "_components/footer/footer", {}, withContext = false ) }}
    {% endblock %}
{% endblock bodyHtml %}

{# -- fixed position components -- #}
{% block bodyComponents %}
    {% block alertbar %}
        {{ include( "_components/_sprig/alert-bar/alert-bar", {}, withContext = false ) }}
    {% endblock %}
{% endblock %}