{% set product   = product ??? null %}
{% set event     = event   ??? null %}
{% set entry     = entry   ??? product ??? event ??? null %}

{% set section   = entry.section.handle ??? ( product ? 'product' ) ??? ( event ? 'event' ) %}
{% set entryType = entry.type.handle    ??? null %}
{% set entryUri  = ( entry.uri ??? 'home' ) | replace({'/':'--'}) %}

{% set title     = title  ??? entry.title ??? null %}
{% set layout    = layout ??? 'twoColumns' %}

{% set bodyClass = "#{layout} #{section} #{entryType} #{entryUri}" %}

{% extends "_layouts/base" %}

{## primary <body> content ##}
{% block bodyHtml %}

    {## perform entry eager loading ##}
    {% if entry and ( className(entry) ??? null ) %}
        {% do craft.app.elements.eagerLoadElements(
            className(entry),
            [entry],
            [''] | merge(eagerLoading.commonFields   ??? '')
                 | merge(eagerLoading.headerBuilder  ??? '')
                 | merge(eagerLoading.contentBuilder ??? '')
                 | merge(eagerLoading.sidebarBuilder ??? '')
        ) %}
    {% endif %}

    {% block header %}
        {{ include( "_components/header/header", {
            entry : entry,
            layout: layout
        }, withContext = false ) }}
    {% endblock %}

    {% block belowHeader %}
        <div class="container">
            {{ include( "_components/breadcrumb/basic", {}, withContext = true ) }}
        </div>
    {% endblock %}

    <main id="content" class="container @container">
        <div class="relative z-20 my-16 !px-0 flex flex-col lg:flex-row gap-16 lg:gap-20 2xl:gap-28">
            <div class="min-h-[30vh] grow">
                {% block beforeContent %}{% endblock %}

                {% block content %}
                    {{ include( "_components/builders/builderContent", {
                        entry : entry,
                        layout: layout
                    }, withContext = false ) }}
                {% endblock %}

                {% block afterContent %}{% endblock %}
            </div>

            {% apply retconRemoveEmpty('aside') %}
                <aside class="w-full lg:max-w-sm">
                    {% block beforeSidebar %}{% endblock %}

                    {% block sidebar %}
                        {{ include( "_components/builders/builderSidebar", {
                            entry : entry,
                            layout: layout
                        }, withContext = false ) }}
                    {% endblock %}

                    {% block afterSidebar %}{% endblock %}
                </aside>
            {% endapply %}
        </div>
    </main>

    {% block belowColumns %}{% endblock %}

    {% block aboveFooter %}
        {{ include( "_components/footer/above", {
            entry: entry,
            layout: layout
        }, withContext = false ) }}
    {% endblock %}

    {% block footer %}
        {{ include( "_components/footer/footer", {}, withContext = false ) }}
    {% endblock %}
{% endblock bodyHtml %}
