{% set title  = title|default() %}
{% set nodes  = handle|default() ? craft.navigation.nodes().handle( handle ).level(1) : [] %}
{% set items  = nodes.all() ??? items|default([]) %}
{% set tag    = tag|default('nav') %}

{% block menu %}
    {% block openNav %}
        <{{ tag }} {{attr({
            id  : "nav-#{handle}",
            role: "navigation",
            aria: { label: title ??? null }
        })}}>
    {% endblock %}

    {% block beforeItems %}{% endblock %}

    {% block openMenu %}
        <ul class="{{ block( 'menuClass' ) }}">
    {% endblock %}

    {% block firstItem %}{% endblock %}

    {% for node in items %}

        {% block openItem %}
            <li class="{{ ( node.children ??? null ) ? 'children' }}">
        {% endblock %}

        {% block item %}
            {{ tag( 'a', {
                href : node.url ??? null,
                class: block('itemClass'),
                html : "<span>#{node.title}</span>"
            }) }}
        {% endblock %}

        {% block closeMenuItem %}</li>{% endblock %}

    {% endfor %}

    {% block lastItem %}{% endblock %}

    {% block closeMenu %}</ul>{% endblock %}

    {% block closeNav %}</{{tag}}>{% endblock %}
{% endblock %}

{% if 0 %}
    {% block menuClass %}
        m-0
        p-0
        list-none
        flex
        flex-col
        gap-4
    {% endblock %}

    {% block itemClass %}
        text-lg
        no-underline
        text-theme-accent
        hover:text-theme-accent-alt
        hover:bg-theme-accent
        flex
        flex-col
        px-2
    {% endblock %}
{% endif %}