{% extends "_components/images/_base" %}

{% block image %}{% if images ??? null %}

    {% from "_components/images" import generate as generate %}

    {% set image1 = ( images[0:1]|first ) ??? null %}
    {% set image2 = ( images[1:1]|first ) ??? null %}
    {% set image3 = ( images[2:1]|first ) ??? null %}
    {% set uuid   = create('craft\\helpers\\StringHelper').UUID() %}

    <div class="flex mx-auto gap-4 xl:gap-8" id="cluster-{{uuid}}">
        <div class="w-7/12 flex flex-col gap-4 xl:gap-8">
            <div class="aspect-square w-full opacity-0 clusterA relative z-30">
                {{ generate( image1, {
                    image    : 'rounded-lg',
                    figure   : null,
                    transform: 'square'
                } ) }}
            </div>

            {% if image2 %}
                <div class="aspect-square w-3/5 rounded-lg mr-0 ml-auto opacity-0 relative clusterB z-10">
                    {{ generate( image2, {
                        image    : 'rounded-lg',
                        figure   : null,
                        transform: 'square'
                    } ) }}
                </div>
            {% endif %}
        </div>
        {% if image3 %}
            <div class="w-5/12 mt-16 lg:mt-40 2xl:mt-60">
                <div class="aspect-square rounded-lg opacity-0 clusterC relative z-20">
                    {{ generate( image3, {
                        image    : 'rounded-lg',
                        figure   : null,
                        transform: 'square'
                    } ) }}
                </div>
            </div>
        {% endif %}
    </div>

    {% js %}
        window.waitForGlobal("app.gsap", function() {

            app.gsap.fromTo(".clusterA", {
                rotation:-35,
                opacity: 0,
                transformOrigin: '0% 100%'
            }, {
                rotation:0,
                opacity: 1,
                ease: app.Power3.easeOut,
                duration:1,
                scrollTrigger: {
                    trigger: "#cluster-{{uuid}}",
                    start: "top 65%",
                    end: "top 45%",
                    scrub:.3,
                    invalidateOnRefresh: true // to make it responsive
                }
            });

            app.gsap.fromTo(".clusterB", {
                y: '-40%',
                x: '40%',
                rotation:-90,
                opacity: 0,
                transformOrigin: '100% 0%'
            }, {
                y: '0%',
                x: '0%',
                rotation:0,
                opacity: 1,
                ease: app.Power3.easeOut,
                duration:1,
                scrollTrigger: {
                    trigger: "#cluster-{{uuid}}",
                    start: "top 40%",
                    end: "top 5%",
                    scrub:.3,
                    invalidateOnRefresh: true // to make it responsive
                }
            });

            app.gsap.fromTo(".clusterC", {
                y: '-40%',
                x: '-40%',
                rotation:90,
                opacity: 0,
                transformOrigin: '0% 0%'
            }, {
                y: '0%',
                x: '0%',
                rotation:0,
                opacity: 1,
                ease: app.Power3.easeOut,
                duration:1,
                scrollTrigger: {
                    trigger: "#cluster-{{uuid}}",
                    start: "top 55%",
                    end: "top 30%",
                    scrub:.3,
                    invalidateOnRefresh: true // to make it responsive
                }
            });
        });
    {% endjs %}
{% endif %}{% endblock image %}