{## User Action Block Base
{-------------------------------------------------------------------------------------##
    -> http://localhost:8000/sitehub/blocks/action
{-------------------------------------------------------------------------------------##}
{% extends [ "_site/block", "_core/block" ] %}

{% set settings    = settings ??? block.settings ??? {}  %}
{% set microlayout = settings.microlayout ??? 'zone1Top' %}
{% set collection  = [] %}
{% set collectionlayer = settings.collectionlayer ??? 'default' %}

{## Action Block Content ##}
{% block content block('block__assemble') %}

{% block block__assemble %}
    {% import "_assemble" as assemble %}
    {{ assemble.microlayout( microlayout, {
        zone1 : block('block__text'),
        zone2 : block('block__action'),
        header: block('block__header'),
        footer: block('block__footer'),
    }, settings ) }}
{% endblock %}


{## Zone 2 Content ##}
{% block block__action %}
    {% set blockName = 'action__' ~ block.variant %}
    {{ block( blockName ) is defined ? block( blockName ) }}
{% endblock %}


{% block action__form %}
    {% set form = block.form.one() ??? null %}
    {% if form %}
        <div class="bg-theme-backgroundOff p-10">
            {{ craft.formie.renderForm(form) }}
        </div>
    {% endif %}
{% endblock %}



{% block action__menu %}
    <div class="@container text-xl">
        {{ craft.navigation.render( block.menu|default(), {
            ulClass: 'flex flex-wrap justify-center w-full gap-6',
            aClass: 'px-4 py-2 font-display block border-2',
        } ) }}
    </div>
{% endblock %}



{% block action__iframe %}
    {% import "_assemble" as assemble %}
    {{ assemble.iframe( block.code|default(), block.settings ) }}
{% endblock %}