{% extends template_from_string('{% block card %}{% endblock %}') %}

{## Primary Card Block
 ------------------------------------------------------------------------------------- ##
    This is the primary block for the card template. It is responsible for rendering
    the card's primary content, including the image, headline, text, and action.
    It also handles the card's layout and wrapping.
 ------------------------------------------------------------------------------------- ##}
{% import "_assemble" as assemble %}

{% block card__tag      "div" %}
{% block card__class    "w-full relative @container" %}
{% block card__layer    card.cardlayer %}
{% block card__attr     attr({ class: block('card__class'), data: { name: block('card__layer') } }) %}

{% block card__headline card.headline ? tag( 'h3', { html: card.headline } ) : null %}
{% block card__summary  card.summary  ? raw( card.summary  ) : null %}
{% block card__text     card.fulltext ? raw( card.fulltext ) : null %}

{% block card__action   _self.invisibleclickcover( card, settings ) %}

{% block card__images %}
    {{ assemble.images( card.images, settings.card__imagelayer ??? 'default', settings ) }}
{% endblock %}

{% block card -%}
    {%- block card__open %}<{{ block('card__tag') }} {{ block('card__attr') }}>{% endblock -%}

    {% block card__content %}
        {{ block('card__images') }}

        {% block card__words %}
            {{ block('card__headline') }}
            {{ block('card__summary')  }}
            {{ block('card__action')   }}
        {% endblock %}
    {% endblock %}

    {% block card__close %}</{{ block('card__tag') }}>{% endblock %}
{%- endblock %}




{## Click Cover Link
{-------------------------------------------------------------------------------------##
    The click cover link is a full-coverage link that can be used to make the entire
    card clickable without a specific button or link.

  ! Important: Ensure an appropriate parent element has `relative` applied,
    AND something like the below CSS exists within your project stylesheet.

    Otherwise the .click__cover class will do nothing and appear to not exist

    a.click__cover::before {
        @apply absolute content-[""] inset-0 z-20;
    }
{-------------------------------------------------------------------------------------##}
{% macro invisibleclickcover( card, settings ) -%}
    {%- if card.url|default() -%}
        {{ tag( 'a', {
            href : card.url,
            class: 'click__cover',
            html : '<span class="hidden">Read More →</span>',
        } ) }}
    {%- endif -%}
{%- endmacro %}
{## --------------------------------------------------------------------------------- ##}



{## Modal Content (Basic)
{-------------------------------------------------------------------------------------##
    Creates a modal window that will load on-click to display extended card info.
{-------------------------------------------------------------------------------------##}
{% macro modallink( card, settings ) -%}
    {% set card = card is null ? {} : card %}
    {% set settings = settings is null ? {} : settings %}

    {% import "_assemble" as assemble %}

    {% set modallayer = card.modallayer ??? ["_site/modal", "_core/modal"] %}
    {% set cardlayer  = card.modal__cardlayer ??? 'panel' %}

    {% set modal = settings | merge({
        cardlayer: cardlayer,
        action: false
    }) %}

    {% set carditem = card._carditem ??? {} %}

    {% set cardpath = [
        "_site/card.#{cardlayer}",
        "_site/card",
        "_core/card"
    ] %}

    {{ include( modallayer, { content: assemble.card( carditem, cardpath, modal ) }, withContext = false ) }}
{%- endmacro %}



{## Text Link
{-------------------------------------------------------------------------------------##
    Like the Default Action, but uses a visible text-based (non-button) link
{-------------------------------------------------------------------------------------##}

{#
{% block action_textlink %}
    {%- if card._carditem.url|default() -%}
        <div class="flex">
            <a href="{{card._carditem.url}}" class="click__cover buttonText"
                >Read More</a>
        </div>
    {%- endif -%}
{% endblock %} #}