{% extends '_cards/base' %}
{% set card_template = _self %}
{% set card_type = 'summary' %}

{% block content %}
    {% block standard_card %}
        <div class="w-full flex flex-col h-full relative @container">
            {{ block('standard_card_image') }}
            {{ block('standard_card_text') }}
            {{ block('standard_card_action') }}
        </div>
    {% endblock %}
{% endblock %}


{% block standard_card_image %}
    {% if card.images ??? null %}
        {% block card_image %}
            <div class="image">{{ parent() }}</div>
        {% endblock %}
    {% endif %}
{% endblock %}


{% block standard_card_text %}
    <div class="p-2 @md:p-4 flex flex-grow flex-col gap-2 bg-theme-backgroundOff">
        {% set cardHeaderClass = 'mb-0' %}
        {{ block('card_headline') }}

        {{ block('card_summary') }}

        {{ block('card_after_summary') is defined ? block( 'card_after_summary' ) }}
    </div>
{% endblock %}


{% block standard_card_action %}
    <div class="px-2 @md:px-4">
        {% block action %}
            {{ block('card_action') }}
        {% endblock %}
    </div>
{% endblock %}