{% extends '_cards/base' %}
{% set card_template = _self %}
{% set card_type = 'detail' %}
{% use "_cards/parts.headlines" %}
{% use "_cards/parts.actions" with action_textlink as card_action %}


{% block content %}
    {% block detail_card %}
        {{ card.images ? block('detail_card_with_images') : block('detail_card_just_text') }}
    {% endblock %}
{% endblock %}


{% block detail_card_with_images %}
    <div class="flex flex-col w-full @container bg-theme-backgroundOff">
        <div class="image @3xl:max-w-1/2 w-full overflow-hidden relative">
            <div class="absolute inset-4 flex items-center justify-center">{{ block('headline_knockout') }}</div>
            {{ block('card_image') }}
            {{ block('card_after_image') is defined ? block('card_after_image') }}
        </div>

        <div class="text-theme-foreground flex flex-col gap-2 w-full p-4 lg:p-8 @container">
            {{ block('card_before_summary') is defined ? block('card_before_summary') }}
            {{ block('card_summary') }}
            {{ block('detail_card_action') }}
        </div>
    </div>
{% endblock %}


{% block detail_card_just_text %}
    <div class="flex flex-col w-full bg-theme-backgroundOff p-4 lg:p-8 @container">
        {{ block('card_before_summary') is defined ? block('card_before_summary') }}
        {{ block('headline_default') | retconAttr( 'h2,h3', { class: "mb-0" }, false ) }}
        <div class="flex-grow">
            {{ block('card_summary') }}
        </div>
        {{ block('detail_card_action') }}
    </div>
{% endblock %}


{% block detail_card_action %}
    {% if card.item.url|default() %}
        {{ block('card_action') }}
    {% else %}
        {{ block('card_action') | retconAttr( 'a', { class: "hidden" }, false ) }}
    {% endif %}
{% endblock %}