{% extends '_cards/base' %}
{% set card_template = _self %}
{% set card_type = 'detail' %}

{% block content %}
    <div class="w-full max-w-5xl mx-auto text-theme-foreground relative @container">
        {{ block('card_headline') }}
        {{ block('card_summary') }}
        {{ block('card_action') }}
    </div>
{% endblock %}

{% block card_action %}
    {% if card.item.url ??? null %}
        <div class="pt-2">
            {{ tag( 'a', {
                text: card.item.url,
                href: url( card.item.url ),
                class: 'clickCover'
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block card_summary %}
    {% import "_layout/core/markup" as markup %}
    <p class="html !mb-0">{{ markup.summaryRetainEmphasis( card.summary ??? null ) }}</p>
{% endblock %}

{% block card_summary_short %}
    {% import "_layout/core/markup" as markup %}
    <p class="html line-clamp-3 !mb-0">{{ markup.summaryRetainEmphasis( card.summary ??? null ) }}</p>
{% endblock %}