{% set media  = media  ??? null %}
{% set config = config ??? null %}
{% import '_macros/bytesToSize.twig' as macroBytesToSize %}

{% if media %}
    {% set class     = config.class ??? '' %}
    {% set poster    = media.images|first    ??? null %}
    {% set transform = config.coverTransform ??? null %}

    {% if poster and transform %}
        {% do poster.setTransform(transform) %}
    {% endif %}

    <div class="{{class}} flex items-center -translate-y-10">
        <div class="max-w-sm text-center">
            {% if poster %}
                <a href="{{media.url}}" download target="_blank">
                <img
                    src="{{poster.url}}"
                    class="h-full w-full object-cover cursor-pointer"
                ></a>
            {% endif %}

            <h4 class="mb-3 text-base not-italic font-body font-medium">{{media.summary}}</h4>
            <a href="{{media.url}}" class="button inline-block" download target="_blank">
                Download PDF ({{ macroBytesToSize.bytesToSize(media.size) }})
            </a>
        </div>
    </div>
{% endif %}