{% set media  = media  ??? null %}
{% set config = config ??? null %}
{% set loop   = loop   ??? null %}
{% set first  = ( loop.first ??? false ) %}

{% set card    = config.card ??? null %}
{% set cardSub = config.cardSubsequent ??? null %}

{% if media %}
    {% set class = config.class ??? '' %}

    {% if first or not cardSub %}
        <div class="{{class}}">
            {{media.html|raw}}
        </div>
    {% else %}
        <article class="tease video relative mt-6">
            <div class="flex flex-row items-center border-1 border-gray-200">
                <div class="min-w-[16rem]">
                    <img src="{{media.images[0].url ??? null }}" class="w-full aspect-video">
                </div>

                <div class="px-4">
                    <h4 class="mb-3 text-base not-italic font-body font-medium">{{media.title}}</h4>

                    <p class="text-sm">{{media.summary}}</p>

                    <p class="text-sm mt-2">
                        <a class="clickable-parent" href="{{ media.url }}" target="_blank">Watch now →</a>
                    </p>
                </div>
            </div>
        </article>
    {% endif %}


{% endif %}

{## wireframe placeholder ##}
{% if ( not media or not media.html ) and getenv('CRAFT_ENVIRONMENT') != 'production' %}
    <div class="bg-gray-500 aspect-video w-full">&nbsp;</div>
{% endif %}