{% set entry        = entry      ??? null %}
{% set loop         = loop       ??? null %}
{% set isFirstBlock = loop.first ??? null %}
{% set prevBlock    = prevBlock  ??? null %}
{% set thisBlock    = thisBlock  ??? null %}

{% set prevBg      = prevBlock.settings.bg ??? null %}
{% set thisBg      = thisBlock.settings.bg ??? null %}
{% set matchingBg  = ( thisBlock.settings.inheritBg ??? null ) ??? ( prevBg == thisBg ) ??? false %}

{% set outerBgClass      = thisBlock.settings.outerBgClass        ??? null %}
{% set innerBgClass      = thisBlock.settings.innerBgClass        ??? null %}
{% set blockContainer    = thisBlock.settings.blockContainer      ??? null %}
{% set spaceAboveClass   = thisBlock.settings.spaceAboveClass     ??? null %}
{% set bgComponentTop    = thisBlock.settings.bgComponentTop      ??? null %}
{% set blockComponentTop = thisBlock.settings.blockComponentTop   ??? null %}

{## create the background ##}
{% if isFirstBlock or not matchingBg %}
    <div
        class="relative {{outerBgClass}}"
        data-background
        data-viewport
        x-data
    >
        {% if bgComponentTop %}
            {{ include( bgComponentTop, {
                entry: entry,
                blockAbove: prevBlock,
                blockBelow: thisBlock
            }, withContext = false )}}
        {% endif %}
{% endif %}

{## insert a spacerer before the block content ##}
{% if spaceAboveClass %}
    {% set spaceClassXtra = isFirstBlock ? "spacing__first" : null %}
    <div class="{{spaceAboveClass}} spacing__above {{spaceClassXtra}}"></div>
{% endif %}

{## start the block section ##}
<section
    class="cBlock {{blockContainer}} {{innerBgClass}}"
    data-block-type="{{thisBlock.blockType ??? null }}"
    data-block-id="{{ thisBlock.content.id ??? create('craft\\helpers\\StringHelper').UUID() }}"
    data-viewport
>
    {% if blockComponentTop %}
        {{ include( blockComponentTop, {
            entry: entry,
            blockAbove: prevBlock,
            blockBelow: thisBlock
        }, withContext = false )}}
    {% endif %}