{## Single Cell Micro Layout Base
    ---------------------------------------------------------------------------- ##
    this is the base template for a 1-cell micro-layout with optional header
    and footer elements.

    this template is typically not called directly, but is instead extended as
    the boilerplate for other preset layout options.

    this base template does not include any css layout or styling. it only acts
    as a container for structurally organizing content.

    styling can be applied to the template by passed css classes into the
    template using any of the following named variables:

    - blockHeader
    - blockLayout
    - blockCell1
    - blockFooter

    -----------------------------------------------------------------
      <header class="[blockHeader]"></header>
        <div class="[blockLayout]">
          <div class="[blockCell1]" data-block="cell1">
            <!-- cell 1 content -->
          </div>
        </div>
      <footer class="[blockFooter]"></footer>
    -----------------------------------------------------------------

    content can be passed into the template two ways:

    (1) using {% embed %} to overload any of the following {% block %} tags
        https://twig.symfony.com/doc/3.x/tags/embed.html

        - header
        - headerContent
        - cell1
        - cell1Above
        - cell1Body
        - cell1Below
        - footer
        - footerContent
        - beforeCells
        - afterCells

    (2) passing any of the following named variables into the template:

        - headerContent
        - footerContent
        - cell1Above
        - cell1Body
        - cell1Below

    elements without any content will be removed from the html before rendering
    so as not to clutter the final output with unused tags.
 ## ---------------------------------------------------------------------------- ##}

{% set settings = {
    blockBase: '',
    blockHeader: '',
    blockFooter: '',
    blockCell1: ''
}|merge( settings ??? {_:1} )|map( (item,key) => [ (_layout[key] ??? null), (_context[key] ??? null), item ]|join(' ')|trim ) %}


{% block header %}
    {% apply retconRemoveEmpty('header') %}
        <header class="{{settings.blockHeader}}">
            {% block headerContent %}{{ ( headerContent ??? null )|raw }}{% endblock %}
        </header>
    {% endapply %}
{% endblock %}

{% apply retconRemoveEmpty('div[data-block^="cell"]') %}
    <div class="{{settings.blockBase}}">
        {% block beforeCells %}{% endblock %}

        {% block cell1 %}
            <div class="{{settings.blockCell1}}" data-block="cell1">
                {% block cell1Above %}{{ (cell1Above ??? null)|raw }}{% endblock %}
                {% block cell1Body  %}{{ (cell1Body  ??? null)|raw }}{% endblock %}
                {% block cell1Below %}{{ (cell1Below ??? null)|raw }}{% endblock %}
            </div>
        {% endblock %}

        {% block afterCells %}{% endblock %}
    </div>
{% endapply %}

{% block footer %}
    {% apply retconRemoveEmpty('footer') %}
        <footer class="{{settings.blockFooter}}">
            {% block footerContent %}{{ ( footerContent ??? null )|raw }}{% endblock %}
        </footer>
    {% endapply %}
{% endblock %}