{% set _settings = {
    text       : text ??? null,
    url        : "/search",
    query      : craft.app.request.getParam('q') ??? '',
    headline   : "Search our Site",
    class      : "like-h3 text-left mb-0",
    placeholder: "Search term..."
}|merge(_context) %}

<form action="{{ _settings.url }}" class="max-w-2xl w-full mx-auto grid grid-cols-1 gap-3">

    {% if _settings.text ??? null %}
        {{ _settings.text|raw }}
    {% else %}
        {% if _settings.headline %}
            <div class="{{_settings.class}}">{{_settings.headline}}</div>
        {% endif %}
    {% endif %}

    <div class="flex flex-col justify-between sm:flex-row border border-slate-700 bg-white">
        <input
            type="search"
            name="q"
            placeholder="{{_settings.placeholder}}"
            value="{{_settings.query}}"
            class="
                flex-grow
                px-4
                py-4
                sm:py-1
                max-w-[calc(100%_-_7rem)]
                text-black
            ">
        <button class="button">Search</button>
    </div>
</form>