{% import "_macros/richtext" as richtext %}

{% set blockID = blockID ??? content.id ??? random(111111, 999999) %}
{% set items   = items   ??? content.items ??? null %}
{% set class   = class   ??? itemsConfig.class ??? 'mx-auto max-w-3xl space-y-4 w-full' %}

<div x-data="{ active: '{{blockID}}-1' }" class="{{class}}">
    {% for row in items %}
        {% set image    = row.images.one() ??? null %}
        {% set headline = row.headline     ??? null %}
        {% set text     = row.text         ??? null %}

        <div x-data="{
            id: '{{blockID}}-{{loop.index}}',
            get expanded() {
                return this.active === this.id
            },
            set expanded(value) {
                this.active = value ? this.id : null
            },
        }" role="region" class="bg-gray-200 shadow">
            <h2 class="text-white">
                <button
                    x-on:click="expanded = !expanded"
                    :aria-expanded="expanded"
                    class="flex w-full items-center justify-between px-6 py-4 text-xl bg-gray-500 text-white font-bold rounded-md"
                >
                    <span>{{headline}}</span>
                    <span x-show="expanded" aria-hidden="true" class="ml-4">&minus;</span>
                    <span x-show="!expanded" aria-hidden="true" class="ml-4">&plus;</span>
                </button>
            </h2>
    
            <div x-show="expanded" x-collapse>
                <div class="px-6 pb-4">
                    {{ richtext.prose(text, 'sm') }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>