{% set entry = entry ?? null %}
{% set _base = {
    title               : title     ??? entry.title          ??? '',
    headline            : headline  ??? entry.headline       ??? '',
    dek                 : dek       ??? entry.dek            ??? entry.summary ??? '',
    text                : text      ??? entry.summary        ??? entry.text    ??? '',
    url                 : url       ??? entry.url            ??? '',
    images              : images    ??? entry.images.all()   ??? [],
    section             : section   ??? entry.section.handle ??? null,
    entryType           : entryType ??? entry.type.handle    ??? null,

    itemTag             : "article",
    itemTagBaseClass    : "cCard w-full relative @container",
    itemTagClass        : "flex flex-col gap-4",

    itemHeadlineTag     : "h3",
    itemHeadlineClass   : "mb-0 text-lg @xs:text-xl @sm:text-2xl @xl:text-3xl",

    cell1Class          : "",
    cell2Class          : "flex flex-col gap-4 h-full",

    itemParagraphClass  : "base",
    itemListClass       : "base",

    itemReadMoreClass   : "clickable-parent",
    itemReadMoreLabel   : "Read More →",

    imageCard           : "_components/cards/image/basic",
    imageClass          : null,
    imageTransform      : null,
} %}

{## merge `_base` into variables passed into the template  ##}
{% set settings = ( settings is defined and settings is iterable ) ? _base|merge(settings) : _base %}

{% if settings.entryType == 'bit' and ( settings.url ??? null ) %}
    {% set settings = settings|withoutKey('url') %}
{% endif %}

<{{settings.itemTag}} class="{{settings.itemTagBaseClass}} {{settings.itemTagClass}}">

    {% block beforeCell1 %}{% endblock %}

    {% block cell1 %}
        <div class="{{settings.cell1Class}}">
            {% block image %}
                {{ include( settings.imageCard, {
                    images: settings.images,
                    settings: settings
                }, withContext = false )}}
            {% endblock %}

            {% block insideCell1 -%}{% endblock %}
        </div>
    {% endblock %}

    {% block cell2 %}
        <div class="{{settings.cell2Class}}">
            {% block aboveTitle %}{% endblock %}

            {% block title %}
                {% set cardTitle = settings.headline ??? settings.title ??? null %}
                {% if cardTitle %}
                    {{ tag( settings.itemHeadlineTag, {
                        text : cardTitle | retconChange( "p", false ) | replace( {'&amp;': '&'} ),
                        class: settings.itemHeadlineClass,
                    }) }}
                {% endif %}
            {% endblock %}

            {% block aboveSummary %}{% endblock %}

            {% set cardText      = settings.dek ??? settings.text ??? null %}
            {% set cardTextParts = processRichHtml( cardText ) %}

            {% block summary %}
                {% if cardTextParts.body %}
                    {{ cardTextParts.body
                        | retconAttr( "p", { class: settings.itemParagraphClass }, false )
                        | retconAttr( "ol, ul", { class: settings.itemListClass }, false )
                    }}
                {% endif %}
            {% endblock %}

            {% block link %}
                {% if settings.url ??? null %}
                    {{ tag('a', {
                        href : settings.url,
                        html : settings.itemReadMoreLabel,
                        class: settings.itemReadMoreClass,
                    }) }}
                {% else %}
                    {% if cardTextParts.cta %}
                        {{ cardTextParts.cta|retconChange( 'p', false )|raw }}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
</{{settings.itemTag}}>