{% extends '_builders/blocks/media' %}

{% import "_macros/richtext" as richtext %}

{% set headline    = headline    ??? null %}
{% set moveHeaders = moveHeaders ??? null %}
{% set headers     = headers     ??? null %}

{% block content1 %}
    <div class="hidden 2xl:block pb-4">
        {% if headline or ( moveHeaders and headers ) %}
            {% if blockConfig.header ??? null %}<div class="{{headerWrap}}">{% endif %}
                {{ headline ? richtext.formatHeadline( headline, 'div', 'like-h1 text-8xl' ) : null }}
                {{ moveHeaders ? headers : null }}
            {% if blockConfig.header ??? null %}</div>{% endif %}
        {% endif %}
    </div>

    {{text}}
{% endblock %}

{% block header %}
    <div class="block 2xl:hidden pb-4">
        {% if headline or ( moveHeaders and headers ) %}
            {% if blockConfig.header ??? null %}<div class="{{headerWrap}}">{% endif %}
                {{ headline ? richtext.formatHeadline( headline, 'h1', 'text-6xl md:text-8xl' ) : null }}
                {{ moveHeaders ? headers : null }}
            {% if blockConfig.header ??? null %}</div>{% endif %}
        {% endif %}
    </div>
{% endblock %}