{% set props    = params   ??? null %}
{% set pageInfo = pageInfo ??? null %}

{% set query    = query ??? '' %}
{% set topic    = topic ??? props.topics[0].slug ??? '' %}
{% set page     = pageInfo.currentPage ??? 1 %}
{% set pages    = pageInfo.totalPages  ??? 0 %}

{% macro urlWithQueryParams( entryUrl, page, queryParams ) -%}
    {%- set baseUrl  = ( page > 1 ) ? "#{entryUrl}/p#{page}" : entryUrl -%}
    {%- set queryStr = queryParams|url_encode -%}
    {{- queryStr ? "#{baseUrl}?#{queryStr}" : baseUrl -}}
{%- endmacro %}

<div>
    <form method="get" action="{{ _self.urlWithQueryParams(props.entryUrl, 0, { topic: topic } ) }}" class="max-w-3xl w-full">
        <div class="flex flex-col sm:flex-row">
            <input
                id="liveSearch__query__{{props.blockID}}"
                type="search"
                placeholder="Enter search term..."
                name="query"
                value="{{query}}"
                sprig
                s-val:page="1"
                s-trigger="keyup changed delay:300ms"
                class="
                    flex-grow
                    px-4
                    py-4
                    sm:py-1
                    max-w-[calc(100%_-_7rem)]
                ">
            <button class="button" sprig>Search</button>

            {{ hiddenInput('page',  page ) }}
            {{ hiddenInput('topic', topic) }}            
        </div>
    </form>

    {% if props.topics %}
        <ul class="list-none m-0 p-0 flex gap-3 mt-4">
            {% set selected   = "bg-gray-700 text-white" %}
            {% set unselected = "bg-white text-gray-700" %}

            <a
                sprig
                s-val:topic=""
                class="cTag cTag__{{ topic ? 'inactive' : 'active' }}"
                href="{{ _self.urlWithQueryParams(
                    props.entryUrl,
                    page,
                    { query: query, topic: '' }
                ) }}"                
            >All Topics</a>

            {% for rec in props.topics %}
                {% if rec.type.handle != 'private' %}    
                    <li class="m-0 p-0">                   
                        <a
                            sprig
                            s-val:topic="{{rec.slug}}"
                            class="cTag cTag__{{ topic != rec.slug ? 'inactive' : 'active' }}"
                            href="{{ _self.urlWithQueryParams(
                                props.entryUrl,
                                page,
                                { query: query, topic: rec.slug }
                            ) }}"                        
                        >{{rec.title}}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
