{## Page Header (<header>) Base Elements & Defaults
 ------------------------------------------------------------------------------------ ##

    Defaults & common elements that appear in and around the site-wide page <header>.

    - http://localhost:8000/sitebook/layouts/header

------------------------------------------------------------------------------------ ##}

{% block default_top %}
    {{ block( 'default_topbar') }}
    {{ block( 'header') }}
    {{ block( 'headerBreadcrumb') }}
{% endblock %}


{% block header %}
    {{ block('headerTagOpen') }}
    {{ block('headerContent') }}
    {{ block('headerTagClose') }}
{% endblock %}


{% block headerTagOpen %}
    <header id="masthead" role="banner" class="flex flex-col relative z-40">
{% endblock %}


{% block topbar_primaryMenu %}
    {{ include( "_layouts/partials/nav-primary", { handle: 'primary' } ) }}
{% endblock %}

{% block topbar_utilityMenu %}{% endblock %}

{% block topbar_mobileMenuTrigger %}
    <span class="flex items-center lg:hidden" x-on:click="$dispatch('openMobileMenu')">
        <button type="button" class="bg-none p-0 m-0">
            {{ include( 'vectors/hamburger.svg' ) }}
        </button>
    </span>
{% endblock %}


{% block headerPlainTitle %}
    {% import "_layouts/base/containers" as containers %}
    {{ containers.wrap(
        block('headerJustH1') ~ block('headerSubtitle'),
        'wideContainer',
        'py-6 lg:py-16 removeLastChildMargin'
    ) }}
{% endblock %}


{% block headerContent %}
    {% set headerOption = entry.title and not ( entry.headerBuilder.all() ??? null )
        ? 'headerPlainTitle'
        : 'headerBuilder' %}

    {{ block( headerOption ) }}
{% endblock %}


{% block headerJustH1 %}
    {{ tag( 'h1', { class: 'html', text: entry.title ??? null } ) }}
{% endblock %}


{% block headerSubtitle %}
    {% if subtitle ??? null %}
        {{ tag( 'div', { html: subtitle } ) }}
    {% endif %}
{% endblock %}


{% block headerBuilder %}
    {% import "_blocks/_common" as blocks %}
    {{ blocks.builder( entry.headerBuilder.all() ??? null, 'header', {
        container: 'wideContainer'
    } )}}
{% endblock %}


{% block headerTagClose %}
    </header>
{% endblock %}

{% block headerBreadcrumb %}
    {% import "_layouts/base/containers" as containers %}
    {{ containers.wrap( include( '_components/navigation/breadcrumb' ), 'wideContainer' ) }}
{% endblock %}

{% block default_topbar %}
    {{ block( 'topbar' ) }}
{% endblock %}

{% block sticky_topbar %}
    {{ block( 'topbar' ) | attr({ class: "sticky top-0" }) }}
{% endblock %}

{% block topbar %}
    <div {{ attr({ class: ["border-b bg-shade-light border-shade w-full relative z-50"] }) }}>

        {% import "_layouts/base/containers" as containers %}
        <div class="{{ containers.class( 'wideContainer' ) }}">
            <div class="flex">
                <div class="flex items-center w-full gap-8">
                    {{ block( 'topbar_logo') }}
                </div>

                {{ block( 'topbar_navigation') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block topbar_logo %}
    {{ block( "logo", "_layouts/_common" ) }}
{% endblock %}

{% block topbar_navigation %}
    <div class="lg:flex flex-col flex-grow text-right w-full items-end gap-6 hidden">
        <div class="flex items-center gap-3">
            {{ block( 'topbar_utilityMenu') }}
        </div>

        <div class="flex items-center gap-6">
            {{ block( 'topbar_primaryMenu') }}
        </div>

        {{ block( 'topbar_mobileMenuTrigger') }}
    </div>
{% endblock %}