{## Page Main Content Base Elements & Defaults
 ------------------------------------------------------------------------------------ ##

    Defaults & common elements that appear in the <main> content area.

------------------------------------------------------------------------------------ ##}

{## just the content builder ##}
{% block default_main %}
    {{ block( 'mainTagOpen') }}
    {% import "_blocks/_common" as blocks %}
    {{ blocks.content( entry.contentBuilder.all() ??? null ) }}
    {{ block( 'mainTagClose' ) }}
{% endblock %}


{## content + sidebar builder ##}
{% block main_with_aside %}
    {{ block( 'mainTagOpen') }}

    {% import "_layouts/_common" as layouts %}
    {% import "_blocks/_common"  as blocks %}

    {{ layouts.twoColumns(
          blocks.content( entry.contentBuilder.all() ??? null, 'wideInnerColumn' ),
          blocks.sidebar( entry.sidebarBuilder.all() ??? null ),
          'wideContainer'
    ) }}

    {{ block( 'mainTagClose' ) }}
{% endblock %}


{## <main> open / close tags ##}
{% block mainTagOpen %}
    <main id="content" class="relative z-10">
{% endblock %}
{% block mainTagClose %}</main>{% endblock %}
