{## [Core] Account Elements
{-------------------------------------------------------------------------------------##}
{% macro login( params, settings ) %}
    <form method="post" action="" accept-charset="UTF-8" class="flex flex-col gap-8">
        {{ csrfInput() }}
        {{ actionInput('users/login') }}
        {{ redirectInput(redirectUrl ?? '') }}

        <div class="field flex flex-col gap-1">
            <label for="loginName">{{- 'Email / Username'|t -}}</label>
            {{ input('text', 'loginName', craft.app.user.getRememberedUsername(), {
                id: 'loginName',
                placeholder: 'email@site.com',
                required: true,
            }) }}
        </div>

        <div class="field flex flex-col gap-1">
            <label for="loginPassword">{{- 'Password'|t -}}</label>
            {{ input('password', 'password', null, { id: 'loginPassword', }) }}
        </div>

        <div class="field flex flex-col gap-1">
            <label>
                {{ input('checkbox', 'rememberMe', 1, { id: 'rememberMe', checked: true }) }}
                {{ 'Remember me'|t }}
            </label>
        </div>

        <p class="data-only-links">
            {{ tag('button', { type: 'submit', class: 'button', text: 'Sign in ➜'|t }) }}
            <a href="{{ url('/account/forgot-password') }}">{{- 'Forgot your password?'|t -}}</a>
        </p>
    </form>
{% endmacro %}

{% macro forgot( params, settings ) %}
    <form method="post" action="" accept-charset="UTF-8" class="flex flex-col gap-8">
        {{ csrfInput() }}
        {{ actionInput('users/send-password-reset-email') }}
        {{ redirectInput('account') }}
        {{ successMessageInput('Password reset email sent!') }}

        <div class="field flex flex-col gap-1">
            <label for="loginName">{{- 'Email Address'|t -}}</label>
            {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
                id: 'loginName'
            }) }}
        </div>

        {% if errors is defined %}
            {{ ul(errors, {
                itemOptions: {
                    class: 'text-red'
                }
            }) }}
        {% endif %}

        <p class="data-only-links">
            {{ tag('button', { type: 'submit', class: "button" , text: 'Reset Password'|t }) }}
            <a href="{{ url('account') }}">{{- 'Cancel'|t -}}</a>
        </p>
    </form>
{% endmacro %}


{% macro register( params, settings ) %}
    <form method="post" action="" accept-charset="UTF-8" class="flex flex-col gap-8">
        {# {{ csrfInput() }}
        {{ actionInput('users/send-password-reset-email') }}
        {{ redirectInput('account') }}
        {{ successMessageInput('Password reset email sent!') }}

        <div class="field flex flex-col gap-1">
            <label for="loginName">{{- 'Email Address'|t -}}</label>
            {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
                id: 'loginName'
            }) }}
        </div>

        {% if errors is defined %}
            {{ ul(errors, {
                itemOptions: {
                    class: 'text-red'
                }
            }) }}
        {% endif %}

        <p class="data-only-links">
            {{ tag('button', { type: 'submit', class: "button" , text: 'Reset Password'|t }) }}
            <a href="{{ url('account') }}">{{- 'Cancel'|t -}}</a>
        </p> #}
    </form>
{% endmacro %}