{% set dropdown = dropdown ??? null %}

{% block dropdown %}
    <div
        x-cloak
        x-data="{
            open: false,
            toggle() {
                if (this.open) {
                    return this.close()
                }
                this.$refs.button.focus()
                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return
                this.open = false
                focusAfter && focusAfter.focus()
            }
        }"
        x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="!$refs.panel.contains($event.target) && close()"
        x-id="['dropdown-button']"
        class="relative"
    >
        <!-- Button -->
        <button
            x-ref="button"
            x-on:click="toggle()"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            type="button"
            class="{{ block('buttonClass') }}"
            :class="open ? '{{ block('buttonClassActive') | replace({"\n": "", "\r": "", "\t": ""}) | trim }}' : '{{ block('buttonClassInactive') | replace({"\n": "", "\r": "", "\t": ""}) | trim }}'"
        >
            {% block button %}
                <span class="flex gap-2 items-center">
                    {% block title   dropdown.title|default() %}
                    {% block chevron svg( '@webroot/static/svg/chevron-down.svg' ) %}
                </span>
            {% endblock %}
        </button>

        <!-- Panel -->
        <div
            x-ref="panel"
            x-show="open"
            x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')"
            class="{{ block( 'panelClass' ) }}"
        >
            {% block panel %}
                {% block aboveItems %}{% endblock %}

                {% block loop %}
                    {% for item in dropdown.children.all() ??? dropdown.children ??? null %}
                        {% block item %}
                            {{ tag( 'a', {
                                href : item.url ??? null,
                                class: block('itemClass'),
                                html : "<span>#{item.title ??? null }</span>"
                            }) }}
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block belowItems %}{% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% if 0 %}
    {% block buttonClass %}
        text-lg
        p-4
    {% endblock %}

    {% block buttonClassInactive %}
        bg-theme-tint text-theme-headings hover:bg-theme-highlight
    {% endblock %}

    {% block buttonClassActive %}
        bg-theme-accent text-theme-accent-alt cursor-auto !no-underline
    {% endblock %}

    {% block itemClass %}
        flex
        items-center
        gap-2
        w-full
        px-4
        py-2
        text-theme-bodycopy
        bg-theme
        hover:bg-theme-highlight
    {% endblock %}

    {% block panelClass %}
        text-base
        no-underline
        absolute
        left-0
        bottom-0
        translate-y-full
        w-[300px]
        max-w-60
        shadow-md
        z-20
    {% endblock %}

{% endif %}