{% set title  = title  ??? null  %}
{% set handle = handle ??? null  %}
{% set class  = class  ??? null  %}
{% set items  = items  ??? null  %}
{% set tag    = tag    ??? 'nav' %}

{% block menu %}
    {% block openNav %}
        <{{ tag }} {{attr({
            id   : "nav-#{handle ??? null }",
            role : "navigation",
            class: class,
            aria : { label: title ??? null }
        })}}>
    {% endblock %}

    {% block beforeItems %}{% endblock %}

    {% block openMenu %}
        <ul class="{{ block( 'menuClass' ) }}">
    {% endblock %}

    {% block firstItem %}{% endblock %}

    {% for node in items %}

        {% block openItem %}
            <li class="{{ node.classes ??? block('itemClass') }}" {{ ( node.children.one() ??? null ) ? 'data-parent' : '' }}>
        {% endblock %}

        {% block item %}
            {% if node.isPassive %}
                {{ tag( 'div', {
                    class: "text-white font-bold text-2xl",
                    html : "<span>#{node.title}</span>"
                }) }}
            {% else %}
                {{ tag( 'a', {
                    href : node.url ??? null,
                    class: node.active ? "is-active" : null,
                    html : "<span>#{node.title}</span>"
                }) }}
            {% endif %}
        {% endblock %}

        {% block closeItem %}</li>{% endblock %}

    {% endfor %}

    {% block lastItem %}{% endblock %}

    {% block closeMenu %}</ul>{% endblock %}

    {% block closeNav %}</{{tag}}>{% endblock %}
{% endblock %}

{% if 0 %}
    {% block menuClass %}
        m-0
        p-0
        list-none
        flex
        items-center
        gap-6
        text-lg
        no-underline
    {% endblock %}

    {% block itemClass %}
        flex
        flex-col
        items-center
        p-4
        text-theme-link
        underline-offset-2
        hover:underline
        hover:text-theme-link-tint
    {% endblock %}
{% endif %}