{## [Core] RSS Feed
{---------------------------------------------------------------------------------------}

{-------------------------------------------------------------------------------------##}
{% set entries = craft.entries()
  .section('news')
  .limit(10)
  .all() %}

<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ siteName }}</title>
    <link>{{ siteUrl }}</link>
    <atom:link href="{{ url(craft.app.request.pathInfo) }}" rel="self" type="application/rss+xml" />
    <description>{{ globals.siteDescription }}</description>
    <language>{{ craft.app.language }}</language>
    <pubDate>{{ now|rss }}</pubDate>
    <lastBuildDate>{{ now|rss }}</lastBuildDate>

    {% for entry in entries %}
      <item>
        <title>{{ entry.title }}</title>
        <link>{{ entry.url }}</link>
        <pubDate>{{ entry.postDate|rss }}</pubDate>
        <author>{{ entry.author }}</author>
        <guid>{{ entry.url }}</guid>
        <description>
          <![CDATA[{{ entry.body }}]]>
        </description>
      </item>
    {% endfor %}
  </channel>
</rss>
