{## [Core] Search Related Partials
{-------------------------------------------------------------------------------------##}
{% macro fallback() %}{{ getenv('CRAFT_ENVIRONMENT') == 'dev' ? "There's no such thing as a fallback search part." }}{% endmacro %}


{## Keyword Search Field ##}
{% macro keywordinput( search, settings ) %}
    <div class="border border-theme-tint2 bg-theme-tint flex flex-row rounded-lg p-2">
        {%- set i = settings.loop__index ??? '' %}
        <input
            name="q{{i}}"
            type="search"
            value="{{search.query}}"
            placeholder="Enter search term..."
            class="flex-grow w-full !p-0 border-none"
            hx-post="{{ search.baseurl }}"
            hx-trigger="keyup changed delay:300ms"
        >
        <button class="button"
            hx-post="{{ search.baseurl }}"
        >Search →</button>
    </div>
{% endmacro %}



{# Topic Filter #}
{% macro topicfilter( search, settings ) %}

    {%- set topics = collect( search.collections ??? [] ) -%}
    {%- set i = settings.loop__index ??? '' %}

    {%- if topics.count > 1 -%}
        <div class="flex flex-row gap-4 mx-auto">
            {%- set active = topics.firstWhere( 'slug', search.filter ) ?? topics.first() -%}

            {%- for t in topics -%}
                {%- set radioid = "radio__#{t.slug|id}" -%}
                <div x-data><input
                    id="{{radioid}}"
                    type="radio"
                    name="f{{i}}"
                    value="{{t.slug}}" {{ active.slug == t.slug ? 'checked' }}
                    class="sr-only"
                    tabindex="-1"
                    hx-post="{{ search.baseurl }}"
                /><label
                    for="{{radioid}}"
                    tabindex="0"
                    aria-role="button"
                    aria-label="Filter by {{ t.title }}"
                    hx-get="{{ search.baseurl }}"
                    x-on:keyup.enter="$event.target.click()"
                    class="
                        py-1.5 px-3
                        text-sm
                        uppercase
                        rounded-full
                        inline-block
                        bg-theme-tint
                        text-theme-bodytext
                        hover:bg-theme-highlight
                        cursor-pointer"
                ><span>{{ t.title }}</span></label></div>
            {%- endfor -%}
        </div>
    {%- endif -%}
{% endmacro %}



{## Basic Pagination ##}
{% macro pagination( search, settings ) -%}
{%- if search.pageinfo.totalPages > 1 %}
    {% import "_core" as assemble %}
    <nav
        role="navigation"
        aria-label="Pagination Navigation"
        class="mx-auto flex flex-col items-center justify-center max-w-xs @container"
    >

        <ul class="flex justify-between w-full list-none items-end"
            hx-select="#{{ search.uuid }}"
            hx-target="#{{ search.uuid }}"
            hx-swap="outerHTML ignoreTitle:true show:top"
            {% if search.hxvals %}hx-vals='{{ search.hxvals | json_encode }}'{% endif %}
        >
            <li class="list-none">{{ assemble.searchpart( 'previouspage', search, settings ) }}</li>

            <li class="flex flex-col text-center items-center">
                <strong class="text-xs uppercase">Page</strong>
                <div>{{search.page}} / {{search.pageinfo.totalPages}}</div>
            </li>
            <li class="list-none text-right">{{ assemble.searchpart( 'nextpage', search, settings ) }}</li>
        </ul>
    </nav>
{%- endif %}{% endmacro %}



{## Previous Link ##}
{% macro previouspage( search, settings ) %}
    {% set baseurl   = search.baseurl ??? siteUrl( craft.app.request.pathInfo ) %}
    {% set prevpage  = search.page - 1 %}

    {% set urlparams = {} %}
    {% set urlparams = search.filter ? urlparams | merge( { f: search.filter } ) : urlparams %}
    {% set urlparams = search.query  ? urlparams | merge( { q: search.query  } ) : urlparams %}

    {% if prevpage < 1 %}
        {{ tag( 'span', {
            text : "← Prev"|t,
            class: "whitespace-nowrap opacity-50 cursor-not-allowed",
        }) }}
    {% else %}

        {## avoids /p1 in the url ##}
        {% set prevurl = prevpage == 1
            ? siteUrl( baseurl, urlparams )
            : siteUrl( baseurl ~ "/" ~ search.pageinfo.pageTrigger ~ prevpage, urlparams ) %}

        <a
            href="{{ prevurl }}"
            class="whitespace-nowrap"
            hx-get="{{ prevurl }}"
            hx-push-url="{{ prevurl }}"
        >{{"← Prev"|t}}</a>
    {% endif %}
{% endmacro %}



{## Next Link  ##}
{% macro nextpage( search, settings ) %}
    {% set baseurl   = search.baseurl ??? siteUrl( craft.app.request.pathInfo ) %}
    {% set nextpage  = search.page + 1 %}

    {% set urlparams = { } %}
    {% set urlparams = search.filter ? urlparams | merge( { f: search.filter } ) : urlparams %}
    {% set urlparams = search.query  ? urlparams | merge( { q: search.query  } ) : urlparams %}

    {% if nextpage > search.pageinfo.totalPages %}
        {{ tag( 'span', {
            text : "Next →"|t,
            class: "whitespace-nowrap opacity-50 cursor-not-allowed",
        }) }}
    {% else %}
        {% set nexturl = siteUrl( baseurl ~ "/" ~ search.pageinfo.pageTrigger ~ nextpage, urlparams ) %}
        <a
            href="{{ nexturl }}"
            class="whitespace-nowrap"
            hx-get="{{ nexturl }}"
            hx-push-url="{{ nexturl }}"
        >{{"Next →"|t}}</a>
    {% endif %}
{% endmacro %}



{## No Results Message ##}
{## TODO: I don't think this is being called ##}
{% macro noresults( search, settings ) %}
    <div class="max-w-5xl mx-auto @container mb-8">
        <p class="html larger text-center">
            <strong>Sorry</strong>, we could not find any matches for your search.
        </p>
    </div>
{% endmacro %}



{## TODO: Load More / Endless Sroll Pagination ##}
{% macro loadmore( search, settings ) -%}{% endmacro %}