{## [Core] Tab Component
{---------------------------------------------------------------------------------------}

{-------------------------------------------------------------------------------------##}
{% extends template_from_string('{% block tab__skeleton "" %}') %}


{## Template Variables
{---------------------------------------------------------------------------------------}

{-------------------------------------------------------------------------------------##}
{% set settings  = settings ??? {} %}
{% set headertag = headertag ??? 'h3' %}

{% set items = items ??? [] %}
{% set count = items | length %}
{% set uuid  = "tabs#{random()}" %}



{## Default Configuration
{---------------------------------------------------------------------------------------}

{-------------------------------------------------------------------------------------##}
{% block class__wrapper      "" %}

{% block class__wrapper_vert "flex flex-col @2xl:flex-row gap-x-8" %}

{% block class__panel        "p-6 @container" %}
{% block class__panels       "rounded-b-md border w-full flex-grow bg-theme-tint" %}
{% block class__ul           "!m-0 !p-0 flex flex-wrap sm:flex-row items-stretch justify-center sm:justify-start" %}
{% block class__ul_vert      "!m-0 !p-0 " %}
{% block class__li           "list-none !mb-0" %}

{% block class__buttonactive "bg-theme-accent text-theme-accent-alt" %}
{% block class__button "
    inline-flex
    rounded
    border
    px-3
    py-1.5
    text-base
    whitespace-nowrap
" %}



{## Render HTML
{---------------------------------------------------------------------------------------}
    Used to generate the html structure surrounding an image (figure, caption, etc).
{-------------------------------------------------------------------------------------##}
{% block tab__skeleton -%}
{%- if count -%}

<div
    {## Set the first available tab on the page on page load. ##}
    x-data="{
        active: 1,
        init() {
            this.$nextTick( () => this.select(this.active) )
        },
        select(index) {
            this.active = index
        },
        isactive(index) {
            return (this.active == index)
        }
    }"
    x-cloak
    x-id="['tabs-{{uuid}}']"

    class="{{ block('class__wrapper') }}"
>
    <!-- Tab List -->
    <ul
        x-ref="tabs-{{uuid}}"
        @keydown.right.prevent.stop="$focus.wrap().next()"
        @keydown.home.prevent.stop="$focus.first()"
        @keydown.page-up.prevent.stop="$focus.first()"
        @keydown.left.prevent.stop="$focus.wrap().prev()"
        @keydown.end.prevent.stop="$focus.last()"
        @keydown.page-down.prevent.stop="$focus.last()"
        role="tablist"
        class="{{ block( 'class__ul' ) }}"
    >
        <!-- Tab -->
        {% for item in items %}
            <li class="{{ block( 'class__li' ) }}">
                <button
                    id="tabs-{{uuid}}-{{loop.index}}"
                    @click="select({{loop.index}})"
                    @mousedown.prevent
                    @focus="select({{loop.index}})"
                    type="button"
                    :tabindex="isactive({{loop.index}}) ? 0 : -1"
                    :aria-selected="isactive({{loop.index}})"
                    :class="isactive({{loop.index}}) ? '{{ block('class__buttonactive' ) }}' : ''"
                    class="{{ block('class__button') }}"
                    role="tab"
                >{% block tab__title "" %}</button>
            </li>
        {% endfor %}
    </ul>

    <!-- Panels -->
    <div role="tabpanels" class="{{ block('class__panels') }}">
        {% for item in items %}
            <!-- Panel -->
            <section
                x-show="isactive({{loop.index}})"
                aria-labelledby="tabs-{{uuid}}-{{loop.index}}"
                role="tabpanel"
                class="{{ block('class__panel') }}"
            >
                {% block tab__content "" %}
            </section>
        {% endfor %}
    </div>
</div>
{%- endif %}{% endblock %}
