{% block html %}

{% block doctype %}<!doctype html>{% endblock %}

{% block html__open %}
<html {{ attr({
    prefix: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#",
    lang  : craft.app.language | slice(0,2)
} )}} class="{% block html__class 'no-js opacity-100 visible scroll-smooth' %}>{% endblock %}"

    <head>
        {{ _self.prefetch( [
            'https://unpkg.com',
            'https://cdn.polyfill.io',
            'https://cdn.jsdelivr.net',
            'https://fonts.googleapis.com',
            'https://fonts.gstatic.com',
        ] ) }}

        {{ head() }}

        {% block head__meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,minimum-scale=1">
            <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover">
            <meta name="format-detection" content="telephone=no">
        {% endblock %}

        {% block head__fonts   %}{{ include( '_site/atoms/fonts'   ) }}{% endblock %}
        {% block head__scripts %}{{ include( '_site/atoms/scripts' ) }}{% endblock %}
        {% block head__styles  %}{{ include( '_site/atoms/themes'  ) }}{% endblock %}

        {% block head__vite %}
            {{ block( "javascript__vite", "_core/pages/helpers.js" ) }}
        {% endblock %}
    </head>

    {% block body__open %}
        <body class="{% block body__class 'font-body text-theme m-0 p-0 min-h-screen h-full' %}">
    {% endblock %}

        {{ beginBody() }}

        {% block page "" %}

        {{ endBody() }}

    {% block body__close "</body>" %}
</html>
{% endblock html %}


{## prefetch & preconnect headers and links ##}
{% macro prefetch( urls ) %}
    {% set headerLink = "Link: " %}
    {% for url in urls %}
        {% set headerLink = headerLink ~ "<#{url}>; rel=dns-prefetch;," %}
        {% set headerLink = headerLink ~ "<#{url}>; rel=preconnect; crossorigin;" %}
        {% if not loop.last %}
            {% set headerLink = headerLink ~ "," %}
        {% endif %}
        <link rel="dns-prefetch" href="{{ url }}">
        <link rel="preconnect" href="{{ url }}" crossorigin>
    {% endfor %}
    {% header headerLink %}
{% endmacro %}