{% set _base = {
    currentPage: pageInfo.currentPage ??? 1,
    totalPages : pageInfo.totalPages  ??? 0,
    query      : liveFilter.query ??? '',
    topic      : liveFilter.topic ??? null
} %}

{# -- merge `_base` into variables passed into the template  -- #}
{% set settings = ( settings is defined and settings is iterable ) ? settings|merge(_base) : _base %}

{% macro urlWithQueryParams( entryUrl, page, queryParams ) -%}
    {%- set baseUrl  = ( page > 1 ) ? "#{entryUrl}/p#{page}" : entryUrl -%}
    {%- set queryStr = queryParams|url_encode -%}
    {{- queryStr ? "#{baseUrl}?#{queryStr}" : baseUrl -}}
{%- endmacro %}

<form method="get" action="{{ _self.urlWithQueryParams(settings.entryUrl, null, { show: settings.topic } ) }}" class="max-w-3xl w-full mx-auto">

    <div class="flex flex-col justify-between sm:flex-row border border-slate-700">
        <input
            id="query-{{settings.uuid}}"
            name="q"
            type="search"
            value="{{settings.query}}"
            placeholder="Enter search term..."
            class="
                flex-grow
                px-4
                py-4
                sm:py-1
                max-w-[calc(100%_-_7rem)]
                text-black
            "
            sprig
            s-val:page="1"
            s-trigger="keyup changed delay:300ms"
        >
        <button class="button" sprig>Search</button>

        {{ hiddenInput('page', settings.currentPage ) }}
        {{ hiddenInput('show', settings.topic       ) }}
    </div>
</form>

{# -- show topic filter buttons -- #}
{% if settings.tags %}
    <ul class="list-none m-0 p-0 flex max-w-5xl flex-wrap gap-3 mx-auto justify-center">

        {% if not settings.forceTopic %}
            <a
                sprig
                s-val:show=""
                class="cTag cTag__{{ settings.topic ? 'inactive' : 'active' }}"
                href="{{ _self.urlWithQueryParams(
                    settings.entryUrl,
                    settings.currentPage,
                    { q: settings.query }
                ) }}"
            >All</a>
        {% endif %}

        {% for topic in settings.tags %}
            <li class="m-0 p-0">
                <a
                    sprig
                    s-val:show="{{topic.slug}}"
                    class="cTag cTag__{{ settings.topic != topic.slug ? 'inactive' : 'active' }}"
                    href="{{ _self.urlWithQueryParams(
                        settings.entryUrl,
                        settings.currentPage,
                        { q: settings.query, show: topic.slug }
                    ) }}"
                >{{topic.title}}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}