{% set _base = {
    text       : text ??? null,
    searchID   : searchID ??? null,
    blockID    : null,
    entryID    : null,
    entryUrl   : '/',
    grid       : '_layouts/grids/stackedOver3',
    gridInner1 : "w-full max-w-5xl text-center mx-auto flex flex-col gap-12",
    itemCard   : '_components/cards/item/basic',
    section    : null,
    entryType  : null,
    sort       : 'recent',
    limit      : 3,
    query      : null,
    topic      : null,
    topics     : [],
    tags       : [],
    forceTopic : false,
    uuid       : create('craft\\helpers\\StringHelper').UUID()
} %}

{## merge with values passed in via `settings` ##}
{% set settings = ( settings is defined and settings is iterable ) ? _base|merge(settings) : _base %}


{## searchID references a Saved Search Taxonomy entry containing default search parameters ##}
{% if settings.searchID %}

    {% set savedSearch = craft.entries()
            .id(settings.searchID)
            .type('contentSearch')
            .one() ??? null %}

    {## _components/_sections/_config/contentTypes.searches.json ##}
    {% set contentType = savedSearch.contentType.reference() ??? null %}

    {## topics used for searching vs. topics available for tag filtering ##}
    {% set topics = savedSearch.taxonomies.all() ??? settings.topics ??? [] %}
    {% set tags   = topics ? topics|filter(topic => ( topic.type.handle ??? null ) not in ['privateTag','contentSearch'] ) %}

    {## if `forceTopic` is true, get the first available tag because at least one *MUST* be active ##}
    {% set firstTagSlug = ( tags|first ??? null ).slug ??? null %}

    {% set settings = settings|merge( {
        section  : contentType.section          ??? settings.section   ??? null,
        entryType: contentType.entryType        ??? settings.entryType ??? null,
        sort     : savedSearch.sort.value       ??? settings.sort      ??? null,
        topic    : settings.forceTopic ? firstTagSlug : null,
        query    : savedSearch.preset ??? null,
        topics   : topics,
        tags     : tags
    } ) %}

{% endif %}


{## collect live filtering parameters ##}
{% set liveFilter = {
    page : craft.app.request.getParam('page') ??? craft.app.request.pageNum ??? 1,
    topic: craft.app.request.getParam('show') ??? settings.topic ??? null,
    query: craft.app.request.getParam('q')    ??? settings.query ??? null,
} %}


{## sort order ##}
{% set orderBy = 'postDate DESC' %}
{% set orderBy = ( settings.sort == 'random'       ) ? 'RAND()'        : orderBy %}
{% set orderBy = ( settings.sort == 'alphabetical' ) ? 'title DESC'    : orderBy %}
{% set orderBy = ( settings.sort == 'upcoming'     ) ? 'startDate ASC' : orderBy %}


{## apply search params and filters to the query ##}
{% set searchQuery = craft.entries()
        .orderBy(orderBy)
        .limit(settings.limit) %}

{% set searchQuery = liveFilter.query   ? searchQuery.search( liveFilter.query )   : searchQuery %}
{% set searchQuery = settings.section   ? searchQuery.section(settings.section)    : searchQuery %}
{% set searchQuery = settings.entryType ? searchQuery.type(settings.entryType)     : searchQuery %}

{% if settings.topics %}
    {% set filteredTopic = settings.topics|filter(topic => topic.slug == liveFilter.topic ) %}
    {% set searchQuery   = searchQuery.relatedTo( filteredTopic ??? settings.topics ) %}
{% endif %}


{## hand the query off to sprig for pagination ##}
{% set pageInfo = sprig.paginate( searchQuery, liveFilter.page ) %}


{## make sure the url stays updated when moving between pages ##}
{% set pushUrl  = ( liveFilter.page > 1 ) ? "#{settings.entryUrl}/p#{liveFilter.page}" : settings.entryUrl %}
{% set queryStr = { q: liveFilter.query, show: liveFilter.topic }|url_encode %}
{% do sprig.pushUrl( queryStr ? "#{pushUrl}?#{queryStr}" : pushUrl ) %}


{## set the number of results into the grid, so that it can adjust column count ##}
{% set settings = settings| merge({ maxCols: pageInfo.pageResults|length ??? 0 }) %}


{## output the search results ##}
<div s-results="sprig-{{settings.uuid}}">
    {% embed settings.grid %}

        {% block cell1 %}
            {{settings.text|raw}}

            {{ include( '_components/search/sprigQueryAndTopic', {
                settings  : settings,
                pageInfo  : pageInfo,
                liveFilter: liveFilter
            }, withContext = false ) }}
        {% endblock %}

        {% block cell2 %}
            {% for item in pageInfo.pageResults ??? [] %}
                {{ include( settings.itemCard, {
                    entry   : item,
                    settings: settings
                }, withContext = false ) }}
            {% endfor %}

            {% if not pageInfo.pageResults %}
                <p>Sorry, we could not match any results to your search.</p>
            {% endif %}
        {% endblock %}

        {% block footer %}
            {{ include( '_components/pagination/sprig', {
                settings  : settings,
                pageInfo  : pageInfo,
                liveFilter: liveFilter
            }, withContext = false ) }}
        {% endblock %}
    {% endembed %}
</div>