{% import "_macros/richtext" as richtext %}

{% set htag    = htag    ??? 'h3' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? '' %}
{% set text    = text    ??? entry.summary ??? entry.dek ??? entry.text ??? '' %}
{% set url     = url     ??? entry.url ??? '' %}
{% set handle  = handle  ??? entry.section.handle ??? 'base' %}
{% set images  = images  ??? entry.images.all() ??? [] %}

{% set textWithoutButton = text|removeTrailingButtons  %}
{% set textOnlyButton    = text|extractTrailingButtons %}

<article class="cCard cCard__iconFeature cCard__{{handle}}">
    <div class="grid grid-cols-1 h-full content-start gap-4">
        <div class="flex items-center justify-center">
            {{ include( '_components/media/icon', { 
                images: images,
                class: 'w-auto'
            }, withContext = false )}}
        </div>

        <div class="text-center">
            {% block title %}
                {%- if title -%}
                    {{ richtext.formatHeadline( title, htag ) }}
                {%- endif -%}
            {% endblock %}

            {% block aboveSummary %}{% endblock %}

            {% block summary %}
                {{ richtext.prose( textWithoutButton, 'small' ) }}
            {% endblock %}
        </div>
        
        {% block link %}
            {% if textOnlyButton %}
                <div class="mt-4 text-center">
                    {{textOnlyButton|raw}}
                </div>
            {% else %}
                {%- if url -%}
                    <a class="self-end mt-2 clickable-parent" href="{{ url }}">Read more →</a>
                {%- endif -%}
            {%- endif -%}
        {% endblock %}
    </div>  
</article>