{% import "_macros/richtext" as richtext %}

{% set htag    = htag    ??? 'h3' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? null %}
{% set summary = text    ??? entry.summary ??? entry.dek ??? entry.text ??? null %}
{% set url     = url     ??? entry.url ??? null %}
{% set handle  = handle  ??? entry.section.handle ??? 'Base' %}
{% set images  = images  ??? entry.images.all() ??? null %}

{% block articleTag %}
<article class="cCard cCard__largeCard cCard__{{handle}}">
{% endblock %}
    <div class="flex flex-col md:flex-row max-w-sm md:max-w-full mx-auto items-center gap-5 md:gap-8 lg:gap-16">
        
        <div class="bg-gray-500 aspect-video max-w-sm w-full md:h-64 xl:h-72 2xl:h-80 xl:max-w-full">
            &nbsp;
        </div>

        <div class="text-left">
            {% block aboveTitle %}{% endblock %}

            {% block title %}
                {%- if title -%}
                    <{{htag}} class="mb-4">{{title}}</{{htag}}>
                {%- endif -%}
            {% endblock %}

            {% block aboveSummary %}{% endblock %}

            {% block summary %}
                    {% set summary = summary
                        ? craft.typogrify.truncate(summary, 200)
                        : '' %}

                    {{ richtext.prose( summary, 'lg' ) }}
            {% endblock %}

            {% block link %}
                {%- if url -%}
                    <a class="self-end mt-2 clickable-parent block" href="{{ url }}">Read more →</a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</article>