{% import "_macros/richtext" as richtext %}
{% set htag    = htag    ??? 'h3' %}
{% set title   = title   ??? entry.title ??? entry.headline ??? '' %}
{% set text    = text    ??? entry.summary ??? entry.dek ??? entry.text ??? '' %}
{% set url     = url     ??? entry.url ??? '' %}
{% set handle  = handle  ??? entry.section.handle ??? 'Base' %}
{% set images  = images  ??? entry.images.all() ??? [] %}

{% set textWithoutButton = text|removeTrailingButtons  %}
{% set textOnlyButton    = text|extractTrailingButtons %}

{% block articleTag %}
<article class="cCard cCard__stackedCard cCard__{{handle}}">
{% endblock %}
    <div class="grid bg-gray-200 grid-cols-1 h-full content-start transition hover:scale-[1.025] hover:shadow-2xl">
        <div class="">
            {{ include( '_components/media/image', { 
                images: images
            }, withContext = false )}}
        </div>

        <div class="p-8 prose-text-dark">
            {% block aboveTitle %}{% endblock %}

            {% block title %}
                {%- if title -%}
                    <{{htag}}>{{title}}</{{htag}}>
                {%- endif -%}
            {% endblock %}

            {% block aboveSummary %}{% endblock %}

            {% block summary %}
                {{ richtext.prose(
                    ( textWithoutButton
                    ? craft.typogrify.truncate(textWithoutButton, 100)
                    : ''
                    ), 'small'
                )}}
            {% endblock %}

            {% block link %}
                {% if textOnlyButton %}
                    <div class="mt-4">
                        {{textOnlyButton|raw}}
                    </div>
                {% else %}
                    {%- if url -%}
                        <a class="self-end mt-2 clickable-parent" href="{{ url }}">Read more →</a>
                    {%- endif -%}
                {%- endif -%}
            {% endblock %}
        </div>
    </div>
</article>