{% set content     = content     ??? null %}
{% set headline    = headline    ??? null %}
{% set theme       = theme       ??? null %}
{% set triggerText = triggerText  ?? 'See More' %}
{% set xTrapConfig = xTrapConfig ??? 'open' %}
{% set uuid        = create('craft\\helpers\\StringHelper').UUID() %}

<div
    x-data="{
        open: false,
        id: '{{uuid}}'
    }"
    x-init="$watch('open', function(value) {
        if( value ) { $dispatch( 'closemodals', { except: '{{uuid}}' } ) }
    } )"
    class="flex justify-center z-100"
    @closemodals.window="open = ( id == event.detail.except )">

    {% block trigger %}
        <button type="button" class="{{ block( 'buttonClass' ) }}" x-on:click="open = true">
            {% block triggerText %}{{ triggerText }}{% endblock %}
        </button>
    {% endblock %}

    <!-- Modal -->
    <template x-teleport="body">
        <div
            x-show="open"
            style="display: none"
            x-on:keydown.escape.prevent.stop="open = false"
            role="dialog"
            aria-modal="true"
            x-id="['modal-title']"
            :aria-labelledby="$id('modal-title')"
            class="{{ block( 'outerClass' ) }}"
            data-theme="{{theme ??? null}}"
        >
            <!-- Overlay -->
            {% block overlay %}
                <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>
            {% endblock %}

            <!-- Panel -->
            <div
                x-show="open" x-transition
                x-on:click="open = false"
                class="{{ block( 'panelClass' ) }}"
                x-trap.noscroll.inert = "{{xTrapConfig}}"
                x-data="{
                    width: 0,
                    setWidth() { this.width = window.innerWidth > 0 ? window.innerWidth : screen.width }
                }"
                @resize.window.debounce="setWidth()"
                x-init="setWidth()"
            >
                <template x-if="open">
                    <div
                        x-on:click.stop
                        class="{{ block( 'modalClass' ) }}"
                    >
                        {## headline ##}
                        {% block headline %}
                            {% if headline ??? null %}
                                <h2 class="html pr-10" :id="$id('modal-title')">{{ headline }}</h2>
                            {% endif %}
                        {% endblock %}

                        {## content ##}
                        {% block contentWrapper %}
                            {% block content %}{{ content }}{% endblock %}
                        {% endblock %}

                        {## buttons ##}
                        {% block closeButton %}
                            <div class="absolute right-8 top-8 z-30">
                                <button type="button" x-on:click="open = false">
                                    {{ include( 'vectors/dismiss.svg' ) }}
                                </button>
                            </div>
                        {% endblock %}
                    </div>
                </template>
            </div>
        </div>
    </template>
</div>

{## blocks below here are not output when calling this template directly. however, they
can still be called by {{ block('blockName') }} and/or overridden by child templates.
 ------------------------------------------------------------------------------------ ##}
{% if 0 %}
    {% block modalClass %}
        relative
        w-full
        max-w-2xl
        overflow-y-auto
        rounded-xl
        bg-white
        p-8
        shadow-lg
    {% endblock %}

    {% block outerClass %}
        fixed
        inset-0
        z-10
        overflow-y-auto
    {% endblock %}

    {% block buttonClass %}
        button
        clickCover
    {% endblock %}

    {% block panelClass %}
        relative
        flex
        min-h-screen
        items-center
        justify-center
        p-4
    {% endblock %}
{% endif %}