{% extends "_sitehub/base" %}

{% import "_site/base/assemble.spacing" as spacing %}

{% block main__content %}

    <div data-theme="subtle-band" data-bodytext>
        <div class="container @container py-16">
            <h1>Interspace & Spacers</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 w-full">
                <div class="@container w-full">
                    <p class="html larger"></p>

                    <p>Spacers are used around and between each block in a builder to provide a consistent gaps and transitions between content elements.</p>

                    <strong class="mt-8 block">Usage:</strong>
                    <code class="bg-theme-contrast-light p-4 block text-xs font-mono leading-6">
                        {% verbatim %}{{ block( 'interspace__base', '_site/base/assemble.spacing' )}}{% endverbatim %}
                    </code>
                </div>

                <div class="w-full h-full @container bg-theme-contrast-light" data-theme="dark">
                    <div class="bg-theme-contrast-light p-3">Spacers are defined as JSON: <strong class="text-theme-accent whitespace-nowrap">_site/base/assemble.spacing.twig</strong></div>
                    <div class="h-full w-full p-5 max-h-[400px] overflow-scroll">

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set spacerOpts = {
        base: {
            label: 'Base Gap',
            theme: 'subtle-band',
            next:  'accent-band',
            between: false,
        },

        sm: {
            label: 'Small Gap',
            theme: 'subtle-band',
            next:  'accent-band',
            between: false,
        },

        lg: {
            label: 'Large Gap',
            theme: 'subtle-band',
            next:  'accent-band',
            between: false,
        },

        xl: {
            label: 'Extra Large Gap',
            theme: 'subtle-band',
            next:  'accent-band',
            between: false,
        },

        stitch: {
            label: 'Stitch',
            theme: 'subtle-band',
            next:  'accent-band',
            between: false,
        },

        wave: {
            label: 'Wave',
            theme: 'subtle-band',
            next:  'accent-band',
            between: false,
        },

        tilt: {
            label: 'Tilt',
            theme: 'standard',
            next:  'dark',
            between: false,
        },
    } %}


        {% for spacer in spacerOpts | keys %}
            {% set block = {
                settings: { theme: spacerOpts[spacer].next  },
                next:     { theme: spacerOpts[spacer].next  },
                prev:     { theme: spacerOpts[spacer].theme },
            } %}

            <div class="@container container">
                <h2 class="text-center my-10">{{ spacerOpts[spacer].label }}</h2>
            </div>

            {% if spacerOpts[spacer].between ??? null %}
                <div data-theme="{{block.prev.theme}}">
                    {{ block( "interspace__base", "_site/base/assemble.spacing" ) }}
                </div>
                {{ block( "interspace__#{spacer}", "_site/base/assemble.spacing" ) }}
                <div data-theme="{{block.next.theme}}">
                    {{ block( "interspace__base", "_site/base/assemble.spacing" ) }}
                </div>
            {% else %}
                <div data-theme="{{block.prev.theme}}">
                    {{ block( "interspace__#{spacer}", "_site/base/assemble.spacing" ) }}
                </div>
                <div data-theme="{{block.next.theme}}">
                    {{ block( "interspace__#{spacer}", "_site/base/assemble.spacing" ) }}
                </div>
            {% endif %}
        {% endfor %}

        <br><br>
    </div>

{% endblock %}