{% set _base = {
    text: text ??? null,
    uuid: create('craft\\helpers\\StringHelper').UUID()
} %}

{## merge `_base` into variables passed into the template ##}
{% set settings = ( settings is defined and settings is iterable ) ? settings|merge(_base) : _base %}

{% if settings.specialVueLoader ??? null %}
    <div id="vue-{{settings.uuid}}"></div>
{% endif %}

{% js %}
    {% if settings.specialVueLoader ??? null %}

        {## --------------------------------------------------------------------------- ##
            prepare a minimal version of the entry object to pass to the vue component.
            if additional context is needed, the component can call the graphql api.
         ## --------------------------------------------------------------------------- ##}
        {% set entry = entry ? {
            id: entry.id,
            title: entry.title,
            slug: entry.slug,
            uri: entry.uri,
            url: entry.url,
            date: entry.postDate,
            authorId: entry.authorId,
            sectionId: entry.sectionId,
            sectionHandle: entry.section.handle,
            typeId: entry.typeId,
            typeHandle: entry.type.handle,
            parent: {
                id: entry.parent.id,
                title: entry.parent.title,
                slug: entry.parent.slug,
                uri: entry.parent.uri,
                url: entry.parent.url,
            }
        } : null %}


        window.waitForGlobal("app.createApp", function() {
            app.createApp(
                {{ settings.specialVueLoader }},
                {
                    entry   : {{ entry|json_encode|raw }},
                    settings: {{ settings|json_encode|raw }}
                }
            ).mount( '#vue-{{settings.uuid}}' )
        })
    {% endif %}
{% endjs %}
