{% set _base = {
    theme    : 'light',
    crumbs   : craft.navigation.breadcrumbs() ??? null,
    themes   : {
        light: {
            textClass: 'text-brown',
            linkClass: 'text-brown hover:text-blue'
        },
        dark : {
            textClass: 'text-shadow-400/80',
            linkClass: 'text-shadow-400/80 hover:text-yellow'
        }
    }
} %}

{## merge `_base` into variables passed into the template ##}
{% set settings = ( settings is defined and settings is iterable ) ? _base|merge(settings) : _base %}

{## update the settings to include theme specific colors into the top level ##}
{% set settings = settings|merge( settings.theme == 'dark' ? settings.themes.dark : settings.themes.light ) %}

{## get the crumbs ##}
{% set crumbs = crumbs ??? settings.crumbs %}
{% if crumbs|length > 1 %}
    <nav class="flex py-2 border-b" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 {{settings.textClass}}">
            {% for crumb in crumbs %}
                {% if loop.first and crumb.segment == '' %}
                    <li class="inline-flex items-center">
                        <a href="/" class="text-xs sm:text-sm {{settings.linkClass}} inline-flex items-center">
                            <svg class="w-4 h-4 mr-2 t" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                            <span>Home</span>
                        </a>
                    </li>
                {% else %}
                    {% set title     = crumb.title ??? null %}
                    {% set url       = crumb.url   ??? null %}
                    {% set isVisible = true %}

                    {% if isVisible %}
                        <li class="hidden {{loop.index > 2 ? 'sm:block' : 'xs:block' }}">
                            <div class="flex items-center">
                                <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                <a href="{{url}}" class="text-xs sm:text-sm {{settings.linkClass}} ml-1 md:ml-2 font-medium truncate max-w-xs">{{title}}</a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}
