{## Load named blocks from other templates to be called like functions. These named
    blocks rely on the current '_context' for data and do not accept arguments.

    Child templates can override named blocks by creating a {% block %} with the
    same name or by reassign the name to another template with {% use %}.

    Learn more: https://twig.symfony.com/doc/3.x/tags/use.html
 ------------------------------------------------------------------------------------ ##}
{% use "_layouts/base/spacing"    with above    as space_above,
                                       below    as space_below,
                                       before   as between_above,
                                       after    as between_below   %}


{## All of these classes can be overriden in a child template to reorganize the layout
 ------------------------------------------------------------------------------------ ##}
{% block block %}

    {{ block( 'between_above') }}

    {% block theme %}

        {{ block( 'theme_open') }}

        {{ block( 'space_above') }}

        {{ block( 'block_open') }}

        {% block contentWrapper %}
            {% block content %}{% endblock %}
        {% endblock %}

        {{ block( 'block_close') }}

        {{ block( 'space_below') }}

        {{ block( 'theme_close') }}

    {% endblock %}

    {{ block( 'between_below' ) }}
{% endblock %}


{% if null %}

{% block block_open %}{% apply spaceless %}
    {% set blockAttr = {
        'class'        : block.settings.sectionClass ??? "w-full" ??? null,
        'data-block'   : block.settings.blockType    ??? null,
        'data-uuid'    : block.settings.uuid         ??? null,
        'data-viewport': true,
    } %}
    <{{block.settings.blockTag ??? 'section'}} {{attr(blockAttr)}}>
{% endapply %}{% endblock %}

{% block block_close %}</{{block.settings.blockTag ??? 'section'}}>{% endblock %}


{% block theme_open %}{% apply spaceless %}
    {% set themeAttr = {
        'class'        : block.settings.themeClass ??? "relative bg-theme-background",
        'data-block'   : block.settings.blockType  ??? null,
        'data-uuid'    : block.settings.uuid       ??? null,
        'data-viewport': true,

        'data-theme'        : block.settings.theme ??? null,
        'data-theme-next'   : block.next.theme     ??? null,
        'data-theme-prev'   : block.prev.theme     ??? null,
    } %}

    <{{block.settings.themeTag ??? 'div'}} {{attr(themeAttr)}}>
{% endapply %}{% endblock %}

{% block theme_close %}</{{block.settings.themeTag ??? 'div'}}>{% endblock %}


{% block headerHeadline %}{% apply spaceless %}
    {% set headline = block.headline ??? null %}
    {% if headline %}
        <h1>{{ headline }}</h1>
    {% endif %}
{% endapply %}{%- endblock %}


{% block content_text %}{% apply spaceless %}
    {% set processedText = processedText ??? null %}

    {{ block('headerHeadline') }}

    {% if processedText %}
        {{ processedText.eyebrow  | raw }}
        {{ processedText.headline | raw }}
        {{ processedText.body     | raw }}
        {{ processedText.cta      | raw }}
    {% endif %}
{% endapply %}{% endblock %}



{% block block_header %}{% apply spaceless %}

{% endapply %}{% endblock %}


{% block block_footer %}{% apply spaceless %}

{% endapply %}{% endblock %}

{% endif %}