{% block header %}
    {% if headline or ( moveHeaders and headers ) %}
        {% if blockConfig.headerClass ??? null %}<div class="{{blockConfig.headerClass}}">{% endif %}
            {{ headline }}
            {{ moveHeaders ? headers : null }}
        {% if blockConfig.headerClass ??? null %}</div>{% endif %}
    {% endif %}
{% endblock %}

{% block content1 %}
    {{text}}
{% endblock %}

{% block footer %}
    {% if ( moveButtons and buttons ) %}
        {% if blockConfig.footer ??? null %}<div class="{{blockConfig.footer}}">{% endif %}
            {{ moveButtons ? buttons : null }}
        {% if blockConfig.footer ??? null %}</div>{% endif %}
    {% endif %}
{% endblock %}

{% block include1 %}
    {% import "_macros/widgets.twig" as widgets %}
    {{ widgets.embed( thisBlock, 'content1' ) }}

    {% if settings.block.include1 ??? null %}
        {{ include( settings.block.include1, { settings: settings } ) }}
    {% endif %}
{% endblock %}

{% block include2 %}
    {% import "_macros/widgets.twig" as widgets %}        
    {{ widgets.embed( thisBlock, 'content2' ) }}

    {% if settings.block.include2 ??? null %}
        {{ include( settings.block.include2, { settings: settings } ) }}
    {% endif %}
{% endblock %}

{% block include3 %}
    {% import "_macros/widgets.twig" as widgets %}
    {{ widgets.embed( thisBlock, 'content3' ) }}

    {% if settings.block.include3 ??? null %}
        {{ include( settings.block.include3, { settings: settings } ) }}
    {% endif %}
{% endblock %}