{## What are we supposed to be rendering?
 ------------------------------------------------------------------------------------ ##}
{% set items      = items    ??? null %}
{% set settings   = settings ??? null %}
{% set cardLayout = settings.cardLayout ??? settings['cardLayout.default'] ??? 'summary' %}
{% set cardGrid   = settings.cardGrid   ??? settings['cardGrid.default']   ??? 'stacked2' %}
{% set layout     = settings.layout     ??? null %}
{% set variant    = settings.variant    ??? null %}
{% set isMedia    = items[0].source|default() in ['external','local'] %}
{% set isFAQ      = items[0].section.handle|default() in ['faqs'] %}

{% set loopContent = null %}

{## Custom Adjustment -- Move to single column if only one result
 ------------------------------------------------------------------------------------ ##}
{% set cardGrid  = items|length == 1 ? 'fixed1Narrow' : cardGrid %}


{## Custom Adjustment -- Move to a Carousel??
 ------------------------------------------------------------------------------------ ##
    Test if the `settings.variant` exists in `settings.carouselVariants`.
    If so, move cards of this type to a carousel loop rather than a grid.
 ------------------------------------------------------------------------------------ ##}
{% if cardGrid and settings.carouselVariants ??? null and variant in settings.carouselVariants %}
    {% if not pagination|default() or pagination == 'all' %}
        {% set loopContent %}{% apply spaceless %}
            {{ include( '_blocks/loop.carousel', {
                items     : items,
                settings  : settings,
                pagination: pagination|default()
            }, withContext = false  ) }}
        {% endapply %}{% endset %}
    {% endif %}
{% endif %}



{## Custom Adjustment -- Move Media to Accordion
 ------------------------------------------------------------------------------------ ##
 ------------------------------------------------------------------------------------ ##}
{# {% set cardGrid   = cardGrid   ??? block.settings.cardGrid   ??? 'stacked2' %}
{% set cardLayout = cardLayout ??? block.settings.cardLayout ??? 'summary' %}
 #}

{% if ( isMedia or isFAQ ) and variant == 'detail' and items|length > 1 %}
    {% set loopContent %}{% apply spaceless %}
        {{ include( '_blocks/loop.accordion', {
            items   : items,
            settings: settings
        }, withContext = false  ) }}
    {% endapply %}{% endset %}
{% endif %}



{## Nothing Custom?
------------------------------------------------------------------------------------ ##
    Jump the collection into a grid if we didn't already process it some other way
 ------------------------------------------------------------------------------------ ##}
{% if not loopContent %}
    {% import "_layout/core/grids" as grids %}
    {% from "_cards/base" import deck as renderDeck %}
    {% set loopContent %}{% apply spaceless %}
        {{ grids.generate( renderDeck( items, cardLayout, settings ), cardGrid, 'w-full' ) }}
    {% endapply %}{% endset %}
{% endif %}


{## Don't forget to output the loopContent
------------------------------------------------------------------------------------ ##}
{{ loopContent }}


{## Do we have footer pagination?
------------------------------------------------------------------------------------ ##}
{% if feedIds|default() and pagination|default() == 'all' %}

    {% set feeds = craft.entries()
        .id(feedIds)
        .fixedOrder(true)
        .section('taxonomy')
        .type('contentFeed')
        .all()
    %}

    {% set activeFeed = null %}
    {% for feed in feeds %}
        {% set activeFeed = params.filter ??? feeds|first.slug == feed.slug ? feed : activeFeed %}
    {% endfor %}

    {% if activeFeed.hyperlink %}
        <div class="text-center @container max-w-5xl mx-auto pt-10">
            <a href="{{ activeFeed.hyperlink.url }}" class="button">
                {{ activeFeed.hyperlink.text ?? "View All "}}
            </a>
        </div>
    {% endif %}
{% endif %}