{% block headerHeadline %}{% apply spaceless %}
    {% set headline = block.headline ??? null %}
    {% if headline %}
        <h1>{{ headline }}</h1>
    {% endif %}
{% endapply %}{%- endblock %}



{## Base Text (Zone 1) Redactor Input
 ------------------------------------------------------------------------------------ ##
    Since pretty much every block has a "text" input this gets treated commonly.
 ------------------------------------------------------------------------------------ ##}
{% block text_zone_default %}{% apply spaceless %}

    {% if processedText ??? null %}

        {## Move the block headline to <header> when left/right cols stack on mobile
        ----------------------------------------------------------------------------- ##}
        {% if block.headline ??? processedText.eyebrow ??? processedText.headline %}
            {% if not block.settings.leadingTextHeadlinesToMicroHeader|default(false) %}
                {% set class = collect(['LEFT','RIGHT']) | filter( v => v in block.settings.microLayout|upper )
                    ? "!hidden lg:!block"
                    : null %}

                    {% set header %}
                        {{ processedText.eyebrow | raw }}
                        {{ block('headerHeadline') }}
                        {{ processedText.headline | raw }}
                    {% endset %}

                    {{ header | retconAttr( '*', { class: class }, false ) }}
            {% endif %}
        {% endif %}

        {{ processedText.body| raw }}

        {## If the block has a CTA, display it here unless it's been moved to the footer ##}
        {% if not block.settings.textCtaToMicroFooter|default(false) %}
            {{ processedText.cta | raw }}
        {% endif %}

    {% endif %}
{% endapply %}{% endblock %}



{## Default Block <header> zone content
 ------------------------------------------------------------------------------------ ##
 ------------------------------------------------------------------------------------ ##}
{% block header_zone_default %}{% apply spaceless %}

    {## Duplicates the block headline into the block <header> for better mobile display.
     -------------------------------------------------------------------------------- ##}
    {% if block.headline ??? processedText.eyebrow ??? processedText.headline %}

        {% set header %}
            {{ processedText.eyebrow | raw }}
            {{ block('headerHeadline') }}
            {{ processedText.headline | raw }}
        {% endset %}

        {% if block.settings.leadingTextHeadlinesToMicroHeader|default(false) %}
            {{ header }}
        {% else %}
            {% if collect(['LEFT','RIGHT']) | filter( v => v in block.settings.microLayout|upper ) %}
                {% set class = "lg:!hidden" %}
                {{ header | retconAttr( '*', { class: class }, false ) }}
            {% endif %}
        {% endif %}

    {% endif %}

{% endapply %}{% endblock %}



{## Default Block <footer> zone content
 ------------------------------------------------------------------------------------ ##
 ------------------------------------------------------------------------------------ ##}
{% block footer_zone_default %}{% apply spaceless %}

    {## Moves Text CTA to block footer
     -------------------------------------------------------------------------------- ##}
    {% if block.settings.textCtaToMicroFooter|default(false) and processedText.cta ??? null %}
        <div class="pt-8">
            {{ processedText.cta | raw }}
        </div>
    {% endif %}

    {% if block.settings.microFooterHtml ??? null %}
        {{ block.settings.microFooterHtml | raw }}
    {% endif %}

{% endapply %}{% endblock %}