{% set props    = params   ??? null %}
{% set pageInfo = pageInfo ??? null %}

{% set query    = query ??? '' %}
{% set topic    = topic ??? '' %}
{% set page     = pageInfo.currentPage ??? 1 %}
{% set pages    = pageInfo.totalPages  ??? 0 %}

{% macro urlWithQueryParams( entryUrl, page, queryParams ) -%}
    {%- set baseUrl  = ( page > 1 ) ? "#{entryUrl}/p#{page}" : entryUrl -%}
    {%- set queryStr = queryParams|url_encode -%}
    {{- queryStr ? "#{baseUrl}?#{queryStr}" : baseUrl -}}
{%- endmacro %}

{% if pages > 1 %}
    <nav
        class="cPagination mt-10"
        role="navigation"
        aria-label="Pagination Navigation"
        >

        <ul class="m-0 p-0 list-none flex gap-3 justify-center">
            <li class="w-32">
                <a class="p-3 block border text-center leading-snug text-sm {% if page > 1 %}hover:bg-gray-200{% else %}cursor-not-allowed opacity-40{% endif %}"
                    {% if page > 1 %}
                        href="{{ _self.urlWithQueryParams(props.entryUrl, page-1, { query: query, topic: topic } ) }}"
                        sprig
                        s-val:page="{{ page - 1 }}"
                        s-trigger="click"
                    {% endif %}
                >&larr; {{"Previous"|t}}</a>
            </li>
            <li class="w-32">
                <a class="p-3 block border text-center leading-snug text-sm {% if page != pages %}hover:bg-gray-200{% else %}cursor-not-allowed opacity-40{% endif %}"
                    {% if page != pages %}
                        href="{{ _self.urlWithQueryParams(props.entryUrl, page+1, { query: query, topic: topic } ) }}"
                        sprig
                        s-val:page="{{ page + 1 }}"
                        s-trigger="click"
                    {% endif %}
                >{{"Next"|t}} &rarr;</a>
            </li>
        </ul>
        
        <p class="text-center text-gray-400 text-xs mt-3">
            Page <strong>{{page}} <span class="scale-90 inline-block">of</span> {{pages}}</strong>
        </p>
    </nav>
{% endif %}