{% block html %}

{% block doctype %}<!doctype html>{% endblock %}

{% block htmlTagOpen %}
<html {{ attr({
    prefix: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#",
    class : block('html_class') | trim,
    lang  : craft.app.language |slice(0,2)
} )}}>{% endblock %}

    <head>
        {{ head() }}

        {{ _self.prefetch( prefetchUrls ) }}

        {% block meta    %}{% endblock %}
        {% block fonts   %}{% endblock %}
        {% block scripts %}{% endblock %}
        {% block styles  %}{% endblock %}

        {{ block( 'js_vite', "_layout/core/web/js" ) }}
    </head>

    {% block bodyTagOpen %}
        <body {{ attr({
            class: block('body_class') | trim ,
            hx: { ext: 'ajax-header' }
        }) }}>
    {% endblock %}

        {{ beginBody() }}

        {% block page %}{% endblock %}

        {## hidden area for absolute positioned elements (modals, alertbars, etc)
         ---------------------------------------------------------------------------- ##}
        <div class="hidden">
            {% block alertbar   %}{{ sprig( "_components/alertbar/bottom"   ) }}{% endblock %}
            {% block modal      %}{{ include( "_components/modal/dynamic"   ) }}{% endblock %}
            {% block allynav    %}{{ include( "_components/navigation/a11y" ) }}{% endblock %}
            {% block components %}{% endblock %}
        </div>

        {{ endBody() }}

    {% block bodyTagClose %}
        </body>
    {% endblock %}
</html>
{% endblock html %}


{% if null %}

    {% block html_class %}
        no-js
        opacity-100
        visible
        scroll-smooth
    {% endblock %}


    {% block body_class %}
        font-body
        text-theme-foreground
        m-0
        p-0
        min-h-[100vh]
        h-full
    {% endblock %}


    {## prefetch & preconnect headers and links ##}
    {% macro prefetch( urls ) %}
        {% set headerLink = "Link: " %}
        {% for url in urls %}
            {% set headerLink = headerLink ~ "<#{url}>; rel=dns-prefetch;," %}
            {% set headerLink = headerLink ~ "<#{url}>; rel=preconnect; crossorigin;" %}
            {% if not loop.last %}
                {% set headerLink = headerLink ~ "," %}
            {% endif %}
            <link rel="dns-prefetch" href="{{ url }}">
            <link rel="preconnect" href="{{ url }}" crossorigin>
        {% endfor %}
        {% header headerLink %}
    {% endmacro %}
{% endif %}