{% extends "sitebook/_core/base" %}

{% import "_layout/core/spacing" as spacing %}

{% block page_main_content %}

    <div data-theme="standard">
        <div class="container @container py-16">
            <h1>Interspace & Spacers</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-20 w-full">
                <div class="@container w-full">
                    <p class="html larger"></p>

                    <p>Spacers are used around and between each block in a builder to provide a consistent gaps and transitions between content elements.</p>

                    <strong class="mt-8 block">Usage:</strong>
                    <code class="bg-theme-backgroundOff p-4 block text-xs font-mono leading-6">
                        {% verbatim %}{{ block( 'interspace_base', '_layout/core/spacing' )}}{% endverbatim %}
                    </code>
                </div>

                <div class="w-full h-full @container bg-theme-backgroundOff" data-theme="dark">
                    <div class="bg-theme-backgroundOff p-3">Spacers are defined as JSON: <strong class="text-theme-accent whitespace-nowrap">_layout/core/spacing.twig</strong></div>
                    <div class="h-full w-full p-5 max-h-[400px] overflow-scroll">

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set spacerOpts = {
        base: {
            label: 'Base Gap',
            theme: 'standard',
            next:  'dark',
            between: false,
        },
        sm: {
            label: 'Small Gap',
            theme: 'standard',
            next:  'dark',
            between: false,
        },
        lg: {
            label: 'Large Gap',
            theme: 'standard',
            next:  'dark',
            between: false,
        },
        xl: {
            label: 'Extra Large Gap',
            theme: 'standard',
            next:  'dark',
            between: false,
        },
        tilt: {
            label: 'Tilt',
            theme: 'standard',
            next:  'dark',
            between: true
        },
        wave: {
            label: 'Wave',
            theme: 'standard',
            next:  'dark',
            between: true
        },
        stitch: {
            label: 'Stitch',
            theme: 'standard',
            next:  'dark',
            between: true
        }
    } %}


        {% for spacer in spacerOpts | keys %}
            {% set block = {
                settings: { theme: spacerOpts[spacer].next  },
                next:     { theme: spacerOpts[spacer].next  },
                prev:     { theme: spacerOpts[spacer].theme },
            } %}

            <div class="@container container">
                <h2 class="text-center my-10">{{ spacerOpts[spacer].label }}</h2>
            </div>

            {% if spacerOpts[spacer].between ??? null %}
                <div data-theme="{{block.prev.theme}}">
                    {{ block( "interspace_base", "_layout/core/spacing" ) }}
                </div>
                {{ block( "interspace_#{spacer}", "_layout/core/spacing" ) }}
                <div data-theme="{{block.next.theme}}">
                    {{ block( "interspace_base", "_layout/core/spacing" ) }}
                </div>
            {% else %}
                <div data-theme="{{block.prev.theme}}">
                    {{ block( "interspace_#{spacer}", "_layout/core/spacing" ) }}
                </div>
                <div data-theme="{{block.next.theme}}">
                    {{ block( "interspace_#{spacer}", "_layout/core/spacing" ) }}
                </div>
            {% endif %}
        {% endfor %}

        <br><br>
    </div>

{% endblock %}