{% html %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
{% endhtml %}

{% set items = items ??? null %}
{% set uuid  = create('craft\\helpers\\StringHelper').UUID() %}

{% block carousel %}
    <div
        x-data="{ splide: null }"
        x-cloak
        x-init="$nextTick(() => {
            splide = new Splide($refs['splide-{{uuid}}'], {
                type: 'loop',
                autoHeight: true,
                perPage: 1
            }).mount()
        })">

        <section
            id="splide-{{uuid}}"
            x-ref="splide-{{uuid}}"
            class="{{ block('carouselClass') }}"
            aria-label="Carousel"
        >
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in items %}
                        <li class="splide__slide {{ block('slideClass') }}">
                            {% block slide %}{% endblock %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}

{% if 0 %}
    {% block slideClass %}
        flex
        flex-col
        items-center
        justify-start
    {% endblock %}

    {% block carouselClass %}
        splide
        relative
        z-40
        pb-8
        mb-8
    {% endblock %}
{% endif %}