{% set items = items ??? null %}
{% set uuid  = create('craft\\helpers\\StringHelper').UUID() %}

{% block carousel %}
    {% if items %}

        {% html %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
            <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
        {% endhtml %}

        <div
            x-data="{ splide: null }"
            x-cloak
            x-init="$nextTick(() => {
                splide = new Splide($refs['splide-{{uuid}}'], {{ block('splideConfig') }} )

                splide.on( 'overflow', function() {
                    splide.options = {
                        arrows    : ( {{ items | length }} > splide.options.perPage ),
                        pagination: ( {{ items | length }} > splide.options.perPage ),
                        drag      : ( {{ items | length }} > splide.options.perPage )
                    }
                } )

                splide.mount()
            })">

            <section
                id="splide-{{uuid}}"
                x-ref="splide-{{uuid}}"
                class="splide min-w-[260px] {{ block('carouselClass') }}"
                aria-label="Carousel"
            >
                <div class="splide__track {% block trackClass %}{% endblock %}">
                    <ul class="splide__list {% block listClass %}{% endblock %}">
                        {% for item in items %}
                            <li class="splide__slide {{ block('slideClass') }}">
                                {% block slide %}{% endblock %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <footer>
                    <ul class="splide__pagination"></ul>
                </footer>
            </section>
        </div>
    {% endif %}
{% endblock %}

{% if 0 %}
    {% block splideConfig %}
        {
            type: 'loop',
            perPage: 1
        }
    {% endblock %}

    {% block slideClass %}
        flex
        flex-col
        items-center
        justify-start
    {% endblock %}

    {% block carouselClass %}
        relative
        z-40
        mb-6
        lg:mb-0
    {% endblock %}
{% endif %}