{% set _args = settings is defined and settings is iterable ? settings|merge(_context) : _context %}
{% set _this = {
    blockID     : create('craft\\helpers\\StringHelper').UUID(),
    items       : [],
    settings    : [],
    class       : 'mx-auto max-w-4xl space-y-4 w-full',
    columns     : 3,
    openClass   : 'p-4 bg-white',
    itemCard    : '_cards/item/basic',
}|merge(_args) %}

<div
    x-data="{ splide: null }"
    x-cloak
    x-init="$nextTick(() => {
        splide = new Splide($refs['splide-{{_this.blockID}}'], {
            type: 'slide',
            breakpoints: {
                780: {
                    perPage: 3,
                    gap: '2rem',
                    perMove: 1,
                },

                640: {
                    perPage: 1,
                    gap: '1rem',
                    perMove: 1,
                }
            },
            padding: { left: '0rem', right: '0rem' },
            trimSpace: false
        }).mount().go(0).refresh()
    })"
>
    <section
        id="splide-{{_this.blockID}}"
        x-ref="splide-{{_this.blockID}}"
        class="splide relative z-40 overflow-hidden pb-16"
        aria-label="Carousel"
    >
        <div class="splide__slider relative">
            <div class="splide__track !overflow-visible">
                <ul class="splide__list">
                    {% for item in _this.items %}
                        <li class="splide__slide">
                            {{ include( '_components/cards/_base', {
                                entry: item,
                                layout: 'standard',
                                loop: loop
                            }, withContext = false ) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>

{% html %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>

    <style>
        /* kind of hacky and should probably be in a css file */
        #splide-{{_this.blockID}} .splide__pagination {
            display: none;
        }

        #splide-{{_this.blockID}} .splide__arrows {
            padding-top : 2rem;
            position: absolute;
            bottom : -4rem;
            left: 50%;
            transform: translateX(-50%);
        }

        #splide-{{_this.blockID}} .splide__arrow--prev {
            left: -2rem;
        }

        #splide-{{_this.blockID}} .splide__arrow--next {
            left: 2rem;
        }
    </style>
{% endhtml %}