<footer class="bg-gray-200" id="footer">
    <div class="container pt-10 pb-6">
        <div class="grid grid-cols-2">
            <div class="grid grid-cols-2">
                <div>
                    {{ include( "_components/navigation/verticalList", {
                        title: 'Features',
                        titleTag: 'strong',
                        handle: 'features'
                    }, withContext = false ) }}
                </div>

                <div>
                    {{ include( "_components/navigation/verticalList", {
                        title: 'Contact us',
                        titleTag: 'strong',
                        handle: 'contact'
                    }, withContext = false ) }}

                    {{ include( '_components/widgets/social-links') }}
                </div>
            </div>

            <div>
                {% import "_macros/fragments.twig" as fragments %}
                {{ fragments.loadBySlug('newsletter-subscribe') }}
            </div>
        </div>


        <div class="flex flex-col md:flex-row pt-6 items-center text-xs md:text-base gap-3 border-t border-block/50">
            {% block legal %}
                <div>
                    © {{"now"|date('Y')}} {{ currentSite.name }}. All rights reserved.
                </div>
            {% endblock %}


            {% block menu %}
                {{ include( "_components/navigation/horizontalList", {
                    handle: 'legal'
                }, withContext = false ) }}
            {% endblock %}
        </div>
    </div>
</footer>