{% set testStrings = [
    '<div><p>Test</p><p class="justbrs"><br><br></p><div class="empty"></div><figure><img src="https://picsum.photos/50" alt="Placeholder" class="specific" /><figcaption>test</figcaption></figure></div>',
    '<div><figure><span class="empty"><span></span></span><img src="https://picsum.photos/50" alt="Placeholder"></figure><span></span><br><br>safe</div>',
    '<div><span class="empty"></span><img src="https://picsum.photos/50" alt="Placeholder"><br><br><b>safe</b></div>',
    '<div>sa<div class="empty"></div>fe<span class="empty"><br><br></span><img src="https://picsum.photos/50" alt="Placeholder"></div>',
    '<div><br><br><img src="https://picsum.photos/50" alt="Placeholder"><span class="empty">  </span></div>',
    '<div></div><span class="empty">  </span><img src="https://picsum.photos/50" class="specific" alt="Placeholder"><br><br>',
    '<div><input type="text" placeholder="input" class="specific"></div><span class="empty"><br><br><br>     <br></span><div><span class="empty"><div class="empty"></div></span></div>'
] %}

<h1>Retcon - Remove Empty Tests</h1>
<section>
    <div>
        <h2>Control</h2>
        <code>Raw Test HTML</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string|raw }}
            <hr>
        {% endfor %}
    </div>

    <div>
        <h2>Remove Empty &lt;div&gt;</h2>
        <code>retconRemoveEmpty('div', false)</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string| retconRemoveEmpty('div', false) }}
            <hr>
        {% endfor %}
    </div>

    <div>
        <h2>Remove Empty &lt;div&gt; + &lt;br&gt;</h2>
        <code>retconRemoveEmpty('div', true)</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string| retconRemoveEmpty('div', true) }}
            <hr>
        {% endfor %}
    </div>

    <div>
        <h2>Remove All Empty Tags</h2>
        <code>retconRemoveEmpty()</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string| retconRemoveEmpty }}
            <hr>
        {% endfor %}
    </div>

    <div>
        <h2>Remove All Empty Tags + &lt;br&gt;</h2>
        <code>retconRemoveEmpty(null, false)</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string| retconRemoveEmpty(null, true) }}
            <hr>
        {% endfor %}
    </div>

    <div>
        <h2>Remove Empty &lt;img&gt;</h2>
        <code>retconRemoveEmpty('img', false)</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string| retconRemoveEmpty('img', false) }}
            <hr>
        {% endfor %}
    </div>

    <div>
        <h2>Remove Empty &lt;img&gt; + &lt;br&gt;</h2>
        <code>retconRemoveEmpty('img', true)</code>
        {% for string in testStrings %}
            <h3>Test String #{{loop.index}}</h3>
            {{ string| retconRemoveEmpty('img', true) }}
            <hr>
        {% endfor %}
    </div>
</section>

<style>
    body { font-size: 12px; }
    section { display: flex; gap: 20px; width: 100%; justify-content: space-evenly; }
    section>div { padding: 10px; }
    section>div:nth-of-type(odd) { background: #ddd; }
    figure { margin: 0; padding: 0; }
    input { max-width: 100px; }
    div.empty { display: block; height: 20px; width: 20px; background: red; }
    span.empty { display: block; height: 20px; width: 20px; background: purple; }
    p.justbrs { display: block; min-height: 20px; background: green; }
    code { display: block; margin-bottom: 10px; border-bottom: 1px solid black; }
</style>