{% extends "_boilerplate" %}
{% set templatePath = _self ??? '' %}
{% set entry   = entry ??? null %}
{% set section = entry.section.handle ??? 'base' %}
{% set layout  = 'oneColumn' %}

{% block bodyHtml %}
    {% block alertbar %}
        {{ include( "_components/_sprig/alert-bar/alert-bar", {}, withContext = false ) }}
    {% endblock %}

    {% block header %}
        {{ include( "_components/header/header", {
            entry: entry ??? null,
            layout: layout
        }, withContext = false ) }}
    {% endblock %}

    {% block belowHeader %}
        {{ include( "_components/breadcrumb/breadcrumb", {}, withContext = true ) }}
    {% endblock %}

    {% block main %}
        <main class="cMain cMain__{{layout}} cMain__{{section}}">
            {% block aboveContent %}{% endblock %}
        
            {% block content %}
                {{ include( "_builders/partials/builderContent", {
                    entry: entry,
                    section: section,
                    layout: layout
                }, withContext = false ) }}
            {% endblock %}
        
            {% block belowContent %}{% endblock %}
        </main>
    {% endblock %}

    {% block aboveFooter %}
        {{ include( "_components/footer/above", {
            entry: entry,
            section: section,
            layout: layout
        }, withContext = false ) }}    
    {% endblock %}

    {% block footer %}
        {{ include( "_components/footer/footer", {}, withContext = false ) }}
    {% endblock %}
{% endblock bodyHtml %}