{% set _settings = {
    entry       : null,
    title       : null,
    subtitle    : null,
    className   : null,
    headerLogo  : "_components/logo/basic",
    headerBlocks: null,

    headerPrimaryNavigation: "_components/navigation/horizontalListWithDropdowns",
    headerPrimaryMenuHandle: 'primary',

    headerMobileMenuTrigger: "_components/navigation/mobileMenuTrigger",

    headerUtilityNavigation: "_components/navigation/horizontalList",
    headerUtilityMenuHandle: 'utility',
}|merge(_context) %}

{## primary navigation can also be included inside the <header>,
   but it depends on whether the navbar is going to be sticky or not ##}
{% block headerNavbar %}
    <div class="
        cMainNav
        cMainNav__{{_settings.className}}
        bg-slate-200
        border-b
        border-slate-400
        sticky
        top-0
        w-full
        z-50">
        <div class="container @container">
            <div class="flex items-center w-full gap-8">
                {% block headerLogo %}
                    <div class="py-4">
                        {{ include( "_components/logo/basic", {}, withContext = false ) }}
                    </div>
                {% endblock %}

                {% block headerNavigation %}
                    <div class="hidden lg:flex flex-col flex-grow text-right w-full items-end gap-6">
                        <div class="flex items-center gap-3">
                            {{ include(
                                _settings.headerUtilityNavigation, {
                                    handle: _settings.headerUtilityMenuHandle,
                                    ulClass: 'm-0 p-0 pt-4 list-none flex gap-3 ml-auto text-right text-sm',
                                }, withContext = false
                            ) }}
                        </div>

                        <div class="flex items-center gap-6">
                            {% if _settings.headerPrimaryNavigation %}
                                {{ include(
                                    _settings.headerPrimaryNavigation, {
                                        handle: _settings.headerPrimaryMenuHandle
                                    }, withContext = false
                                ) }}
                            {% endif %}
                            <a href="/search">{{ include( 'svg/search.svg' ) }}</a>
                        </div>
                    </div>

                    {% if _settings.headerMobileMenuTrigger %}
                        {{ include( _settings.headerMobileMenuTrigger, { }, withContext = false ) }}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

<header role="heading" aria-level="1"
    class="
        cHeader
        cHeader__{{_settings.className}}
        flex
        flex-col
        bg-gray-200
        relative
        z-40
    ">

    {% set headerBlocks = _settings.headerBlocks ??? _settings.entry.headerBuilder.all() ??? null %}
    {% block headerBuilder %}
        {{ include("_components/builders/builderHeader", {
            entry: entry,
            blocks: headerBlocks
        }, withContext = false ) }}
    {% endblock %}

    {% block headerTitle %}
        {% if _settings.title and not headerBlocks %}
            <div class="container @container py-6 lg:py-16">
                <h1>{{_settings.title}}</h1>
                {{ _settings.subtitle|raw }}
            </div>
        {% endif %}
    {% endblock %}
</header>
