{## [Core] Mobile Menu Component
{---------------------------------------------------------------------------------------}
    A simple AlpineJS based mobile menu
--------------------------------------------------------------------------------------##}
{% extends template_from_string('{% block menu__skeleton "" %}') %}


{## Open Menu Button Macro
--------------------------------------------------------------------------------------##}
{% macro trigger( trigger, button ) %}
    {%- set trigger = trigger ??? 'openmobile' -%}
    {%- set button  = button  ??? null is iterable ? button : {} -%}

    {%- set button = {
        class   : 'flex lg:hidden bg-none p-0 m-0 text-theme-highlight hover:text-theme-accent focus:text-theme-accent',
        svgpath : '@appicons/bars.svg',
        svgclass: 'h-8 w-8 block fill-current',
        label   : 'Open Menu'|t
    } | merge( button ) -%}

    <button
        type="button"
        class="{{ button.class }}"
        x-data="{}"
        x-on:click="$dispatch('{{ trigger }}')"
        aria-label="{{ button.label }}"
        title="{{ button.label }}"
    >{{ svg( button.svgpath ) | attr({ class: button.svgclass }) }}</button>
{% endmacro %}


{## Menu  Defaults
--------------------------------------------------------------------------------------##}
{% block trigger__open   "openmobile"  %} {# if changed see: {% macro trigger() %} #}
{% block trigger__close  "closemobile" %}
{% block class__body     "hasMobileMenu" %}
{% block class__overlay  "fixed inset-0 bg-black/70" %}
{% block class__modal    "fixed inset-0 z-50 overflow-y-auto canvas" %}
{% block class__panel    "relative flex min-h-screen items-center justify-center p-4" %}
{% block class__menu     "w-full max-w-2xl overflow-y-auto rounded-xl p-12 shadow-lg" %}
{% block class__close    "absolute top-3 right-8 z-50 text-theme-alt hover:text-theme-accent" %}
{% block class__theme    "accent" %}



{## Overlay
--------------------------------------------------------------------------------------##}
{% block menu__overlay  tag( 'div', { class: block('class__overlay' ), 'x-show': 'open', 'x-transition.opacity': true } ) %}


{## Main Menu Content
--------------------------------------------------------------------------------------##}
{% block menu__handle 'primary' %}
{% block menu__main   include( ["_site/menu.list", "_core/menu.list"], { handle: block('menu__handle') }, withContext = false ) %}


{## Close Button
--------------------------------------------------------------------------------------##}
{% block menu__close %}
    <button
        class="{{ block('class__close') }}"
        aria-label="Close Menu"
        x-on:click="open=false"
    >{{ svg( '@appicons/xmark.svg' ) | attr({ class: 'h-8 w-8 block fill-current' }) }}</button>
{% endblock %}


{## Core HTML Structure
--------------------------------------------------------------------------------------##}
{% block menu__skeleton %}
<div
    x-cloak
    x-data="{open:false}"
    x-show="open"
    x-init="$watch('open', value => ( value ) ? document.body.classList.add('{{ block('class__body') }}') : document.body.classList.remove('{{ block('class__body') }}') )"
    x-on:keydown.escape.prevent.stop="$dispatch('{{ block('trigger__close') }}'); open=false;"

    x-on:{{ block('trigger__open')  }}.window="open = true"
    x-on:{{ block('trigger__close') }}.window="open = false"
>
    <div
        x-transition
        role="dialog"
        aria-modal="true"
        aria-label="Site Navigation"
        class="{{ block('class__modal') }}"
        data-theme="{{ block('class__theme') }}"
    >
        <div class="{{ block( 'class__panel' ) }}">
        {# x-on:click="$dispatch('{{ block('trigger__close') }}'); open=false;" #}
            <div class="{{ block( 'class__menu' ) }}" x-trap.noscroll.inert="open" x-on:click.stop>
                {{ block( 'menu__main' ) }}
                {{ block( 'menu__close' ) }}
            </div>
        </div>
        {{ block( 'menu__overlay' ) }}
    </div>
</div>
{% endblock %}