{## RSS Item Cards   [Content Specific Factory]
{-------------------------------------------------------------------------------------##}
{%- set card = card ??? null -%}

{%- set path = path ??? ["_site/card","_core/card"] -%}

{%- set settings = settings ?? null is iterable ? settings : {} -%}
{%- set settings = { cardname: 'default' } | merge( settings ) -%}



{## Render the Card
{---------------------------------------------------------------------------------------}

{-------------------------------------------------------------------------------------##}
{%- if card -%}
{%- embed path with { card: card, settings: settings } -%}

    {% block card__headline -%}
        {% if card._element.source ?? null %}
            <div class="eyebrow eyebrowSmall">{{ card._element.source }}</div>
        {% endif %}

        {{ parent() }}

        {% if card._element.postDate ?? null %}
            <timedate class="flex gap-2 items-center">
                <span>{{ svg( '@webroot/static/svg/calendar.svg' ) }}</span>
                <span>{{ card._element.postDate|date('F j, Y') }}</span>
            </timedate>
        {% endif %}
    {% endblock -%}


    {% block card__summary -%}
        {{ parent() }}
        {% if card._element.topics ?? null %}
            <div class="text-xs">
                {{ card._element.topics|join(', ') }}
            </div>
        {% endif %}
    {%- endblock %}

{% endembed -%}
{%- endif -%}