{% set gridDefaults = {
    classes: {
        wrapperBase : 'relative w-full grid grid-cols-1 justify-center items-center',
        wrapper     : '',
        gridBase    : 'w-full h-full',
        grid        : '',
        content1Base: 'relative z-30 m-5',
        content2Base: 'absolute top-0 left-0 right-0 bottom-0',
        content1    : 'bg-white/80',
        content2    : '',
        inner1Base  : 'p-5 prose-text-dark',
        inner2Base  : '',
        inner1      : '',
        inner2      : '',
        include1    : '',
        include2    : '',
    }
} %}

{% set props = {
    classes:config is defined and config is iterable ? gridDefaults.classes | merge(blockConfig) : gridDefaults.classes
} %}

{% block beforeGrid %}{% endblock %}

<div class="{{props.classes.wrapperBase}} {{props.classes.wrapper}}">

    {% block header %}{{blockHeader ??? null}}{% endblock %}

    <div class="{{props.classes.gridBase}} {{props.classes.grid}}">
        {% if not ( content1Hide ??? false ) %}
            <div class="{{[props.classes.content1Base,props.classes.content1]|join(" ")}}">
                {% if props.classes.inner1Base ??? props.classes.inner1 ??? null %}<div class="{{props.classes.inner1Base ?? ''}} {{props.classes.inner1 ?? ''}}">{% endif %}
                    {% block content1 %}{% endblock %}
                {% if props.classes.inner1Base ??? props.classes.inner1 ??? null %}</div>{% endif %}
                {% block include1 %}{{blockInclude1 ??? null}}{% endblock %}
            </div>
        {% endif %}

        {% if not ( content2Hide ??? false ) %}
            <div class="{{[props.classes.content2Base,props.classes.content2]|join(" ")}}">
                {% if props.classes.inner2Base ??? props.classes.inner2 ??? null %}<div class="{{props.classes.inner2Base ?? ''}} {{props.classes.inner2 ?? ''}}">{% endif %}
                    {% block content2 %}{% endblock %}
                {% if props.classes.inner2Base ??? props.classes.inner2 ??? null %}</div>{% endif %}
                {% block include2 %}{{blockInclude2 ??? null}}{% endblock %}
            </div>
        {% endif %}
    </div>

    {% block footer %}{{blockFooter ??? null}}{% endblock %}
</div>

{% block afterGrid %}{% endblock %}