{% extends '_builders/blocks/textImage' %}
{% use "_builders/blocks/_default" %}

{% import "_macros/richtext" as richtext %}

{% set headline    = headline    ??? null %}
{% set moveHeaders = moveHeaders ??? null %}
{% set headers     = headers     ??? null %}
{% set headerClass = blockConfig.headerClass ??? null %}

{% block content1 %}
    {% if headline or ( moveHeaders and headers ) %}
        {% if headerClass ??? null %}<div class="{{headerClass}}">{% endif %}
            {{ headline ? richtext.formatHeadline( headline, 'h1', 'text-8xl' ) : null }}
            {{ moveHeaders ? headers : null }}
        {% if headerClass ??? null %}</div>{% endif %}
    {% endif %}

    <time
        datetime="{{ entry.postDate | date('Y-m-d') }}"
    >{{ entry.postDate | date('F jS, Y') }}</time>

    {{text}}
{% endblock %}