{% set images    = images    ??? content.images.all() ??? null %}
{% set class     = class     ??? blockType ??? 'w-full' %}
{% set transform = transform ??? null %}
{% set blockID   = blockID ?? null %}

{% set image     = images|first ??? null %}

{% set glitter   = images|slice(1,2) %}

{% if transform %}
    {% do image.setTransform(transform) %}
{% endif %}

{% if image %}   
    <div class="image relative max-w-md mx-auto">
        {% set alt = image.alt ??? image.title ??? "" %}
        <img
            src="{{image.url}}"
            width="{{ image.width }}"
            height="{{ image.height }}"
            alt="{{alt}}"
            loading="lazy"
            class="{{class}}">

        {{ _self.glitter( glitter[0] ?? null, 0 ) }}
        {{ _self.glitter( glitter[1] ?? null, 1 ) }}
    </div>
{% endif %}


{# wireframe placeholder #}
{% if not image and getenv('CRAFT_ENVIRONMENT') != 'production' %}
    <div class="bg-slate-500 aspect-square w-full">&nbsp;</div>
{% endif %}


{% macro glitter( glitter = null, i = 0 ) %}
    {% set position = 'top-1/4 left-0 -translate-x-1/2 -translate-y-1/2' %}
    {% if i == 1 %}{% set position = 'top-3/4 right-0 translate-x-1/2 -translate-y-1/2' %}{% endif %}

    <div class="glitter glitter{{i}} h-24 w-24 absolute {{position}}">
        {% if glitter.url ?? null %}
            {% set alt = glitter.alt ??? glitter.title ??? "" %}
            <img
                src="{{glitter.url}}"
                width="{{ glitter.width }}"
                height="{{ glitter.height }}"
                alt="{{alt}}"
                loading="lazy">
        {% else %}
            {# wireframe placeholder #}    
            {% if getenv('CRAFT_ENVIRONMENT') != 'production' %}
                <div class="aspect-square bg-slate-500 w-full h-full rounded-lg">&nbsp;</div>
            {% endif %}
        {% endif %}
    </div>
{% endmacro %}

{% js %}
    window.waitForGlobal("app.gsap", function() {
        block = document.querySelector('[data-block-id="{{blockID}}"]')
        glitter0 = block.querySelector(".glitter0")
        glitter1 = block.querySelector(".glitter1")

        app.gsap.fromTo(glitter0, {
            y: '-140%',
            scale: 1
        }, {
            y: '100%',
            scale: 1.05,
            ease: "none",
            scrollTrigger: {
                trigger: block,
                start: () => "top bottom", 
                end: "bottom top",
                scrub: true,
                invalidateOnRefresh: true // to make it responsive
            }
        });

        app.gsap.fromTo(glitter1, {
            y: '100%',
            scale: 1.05
        }, {
            y: '-100%',
            scale: 1,
            ease: "none",
            scrollTrigger: {
                trigger: block,
                start: () => "top bottom", 
                end: "bottom top",
                scrub: true,
                invalidateOnRefresh: true // to make it responsive
            }
        });        
    });
{% endjs %}