{% set images    = images    ??? content.images.all() ??? null %}
{% set class     = class     ??? blockType ??? 'w-full' %}
{% set transform = transform ??? null %}

{% set image     = images|first ??? null %}
{% set kind      = image.kind   ??? null %}

{# better hope it's a lottie :) #}
{% if kind == 'json' %}
    <div class="-my-10">
        {% include '_components/media/lottie' with {
            animation: image.url ?? null
        } only %}
    </div>
{% endif %}

{# image #}
{% if kind == 'image' %}
    {% if transform %}
        {% do image.setTransform(transform) %}
    {% endif %}

    {% set alt = image.alt ??? image.title ??? "" %}

    <img
        src="{{image.url}}"
        width="{{ image.width }}"
        height="{{ image.height }}"
        alt="{{alt}}"
        loading="lazy"
        class="{{class}}">
{% endif %}

{# wireframe placeholder #}
{% if not image and getenv('CRAFT_ENVIRONMENT') != 'production' %}
    <img src="https://picsum.photos/seed/{{random(1,9999)}}/800/450?grayscale&blur=2">
{% endif %}